div.theme-atomik {
  .ccm-block-gallery-logos {
    margin-top: 1rem;
    margin-bottom: 1rem;

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    .logo {
      margin-left: 3rem;
      margin-right: 3rem;

      &:first-child {
        margin-left: 0;
      }

      &:last-child {
        margin-right: 0;
      }

      img {
        max-width: 200px;
        max-height: 32px;
      }

    }
  }

}
