.ccm-image-slider-container {

  border-bottom: 2px solid #f0eee1;
  padding-top: 20px;
  margin-bottom: 70px;

  background-color: transparent;
  background-repeat: repeat;
  background-image: $image-slider-background-image;

  /* background-image is moved to main.less because it needs to be in the theme root */

  .ccm-image-slider {
    @include make-container();
    @each $breakpoint, $container-max-width in $container-max-widths {
      @include media-breakpoint-up($breakpoint, $grid-breakpoints) {
        max-width: $container-max-width;
      }
    }


    .rslides {
      li {
        max-height: 220px;
        list-style-type: none;
      }
    }

    @include media-breakpoint-only(xs) {
      width: 100%;
      .rslides {
        li {
          max-height: 320px;
        }
      }
    }

    @include media-breakpoint-up(sm) {
      .rslides {
        li {
          max-height: 350px;
        }
      }
    }
    @include media-breakpoint-up(md) {
      .rslides {
        li {
          max-height: 429px;
        }
      }
    }
    @include media-breakpoint-up(lg) {
      .rslides {
        li {
          max-height: 480px;
        }
      }
    }

    @include clearfix();
  }

  .ccm-image-slider-inner {
    @include make-row();
    @include make-col-ready();
    @include make-col(12);
  }
  .rslides_nav {
    opacity: 1;
    border-radius: 4px;
    height: 38px;
    margin-top: -20px;
    width: 38px;
    &.next {
      color: white;
      display: flex;
      position: absolute;
      right: -$grid-gutter-width;
      transition: background .35s ease-in-out;
      align-items: center;
      &:hover {
        text-decoration: none;
        color: black;
        background: white;
      }
      &:before {
        transition: background .35s ease-in-out;
        content: fa-content($fa-var-chevron-right);
        font-family: 'Font Awesome 5 Free';
        font-size: 16px;
        font-weight: 700;
        margin: 0 auto;
      }
    }
    &.prev {
      color: white;
      display: flex;
      position: absolute;
      left: -$grid-gutter-width;
      transition: background .35s ease-in-out;
      align-items: center;
      &:hover {
        text-decoration: none;
        color: black;
        background: white;
      }
      &:after {
        transition: background .35s ease-in-out;
        content: fa-content($fa-var-chevron-left);
        font-family: 'Font Awesome 5 Free';
        font-weight: 700;
        font-size: 16px;
        display: flex;
        margin: 0 auto;
      }
    }
    background:rgba(0,0,0,.92);
  }
  .rslides_tabs {
    padding-left: 0px;
    padding-top: 15px;
    padding-bottom: 10px;
    li {
      list-style-type: none;
      display: inline-block;
      margin-right: 5px;
      &.rslides_here {
        a {
          background: $primary;
        }
      }
      a {
        overflow: hidden;
        text-indent: 99px;
        background: $bullet-color;
        width: 15px;
        height: 15px;
        display: inline-block;
        margin-right: 10px;
        border-radius: 30px;
      }
    }
  }

  .ccm-image-slider-text {

    left: 0;
    padding-top: 0;
    position: absolute;
    top: 10%;
    width: 45%;

    h2 {
      color: $image-slider-title-color;
      font-family: $image-slider-title-font-family;
      font-size: $image-slider-title-font-size;
      font-weight: $image-slider-title-font-weight;
      margin-bottom: 5%;
    }

    p {
      color: $image-slider-paragraph-color;
      font-family: $font-family-base;
      font-size: $image-slider-paragraph-font-size;
      font-weight: $image-slider-paragraph-font-weight;
      width: 80%;
    }

  }

  .ccm-image-slider-title {
    margin-top: auto;
  }

  // next and previous
  //&.ccm-block-image-slider-arrows {
  //
  //  .ccm-image-slider-inner {
  //    .make-row();
  //    .make-lg-column-offset(1);;
  //    .make-lg-column(10);
  //    margin-bottom: 60px;
  //  }
  //}

}

