div.ccm-multilingual-language-list-item input, div.ccm-multilingual-language-list-item img {vertical-align: middle;}
form#ccm-multilingual-language-list {margin: 20px 0px 20px 0px}
div.ccm-multilingual-site-default-remember {margin-top: 20px; margin-bottom: 20px}
div.ccm-multilingual-language-list-item input {margin-right: 5px;}
div.ccm-multilingual-language-list-item img {margin-right: 5px;}
