div.theme-oxford-shirt {
    .ccm-block-calendar-event-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .ccm-block-event-details-small {
            max-width: 854px;
            padding: 0.5rem;
            border: 1px solid $grey-accent;
            border-radius: 8px;
            width: 100%;
            vertical-align: middle;
            @include media-breakpoint-up(md) {
                padding: 1rem;
            }
            .ccm-block-event-details-small-event-date {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                text-align: center;
                vertical-align: middle;
                background-color: $primary;
                border-radius: 8px;
                color: #fff;
                width: 90px;
                height: 90px;
                float: left;
                @include media-breakpoint-up(md) {
                    width: 110px;
                    height: 110px;
                }
                margin-right: 1rem;
                text-transform: uppercase;
                .date-top {
                    @extend h1;
                    margin-bottom: 0;
                    @include media-breakpoint-up(md) {
                        @include rfs(3rem);
                    }
                }
                .date-bottom {
                    @extend h3;
                    font-size: 1rem;
                    @include media-breakpoint-up(md) {
                        @include rfs(1.25rem);
                    }
                }
            }
            .ccm-block-event-details-small-event-time {
                font-style: normal;
                font-weight: 600;
                font-size: 14px;
                line-height: 18px;
                @include media-breakpoint-up(md) {
                    font-size: 16px;
                    line-height: 19px;
                }
            }
        }
        .ccm-block-event-attribute-event-details {
            max-width: 854px;
        }
    }
}