// Colors
$logo-color: #cd6b5e !default;
$primary: #fa9c38 !default;
$secondary: #0099ff !default;

// Headings
$h1-font-family: 'Oswald' !default;
$h1-color: #121212 !default;
$h1-font-size: 2.1em !default;
$h1-font-weight: 700 !default;

$h2-font-family: 'Oswald' !default;
$h2-color: #121212 !default;
$h2-font-size: 1.46em !default;
$h2-font-weight: 700 !default;

$h3-font-family: 'Oswald' !default;
$h3-color: #fa9c38 !default;
$h3-font-size: 1.25em !default;
$h3-font-weight: 700 !default;

$h4-font-family: 'Oswald' !default;
$h4-color: #4f545a !default;
$h4-font-size: 1.05em !default;
$h4-font-weight: 700 !default;

$h5-font-family: 'Oswald' !default;
$h5-color: #fa9c38 !default;
$h5-font-size: 0.73em !default;
$h5-font-weight: 700 !default;
$h5-text-transform: uppercase !default;

$h6-font-family: 'Oswald' !default;
$h6-color: #121212 !default;
$h6-font-size: 0.73em !default;
$h6-font-weight: 400 !default;
$h6-text-transform: uppercase !default;

// Logo
$logo-font-family: 'Abril Fatface' !default;
$logo-font-size: 2.2em !default;
$logo-font-weight: normal !default;
$logo-font-style: normal !default;
$logo-text-decoration: none !default;
$logo-text-transform: none !default;

// Image Slider
$image-slider-background-image: url('/concrete/themes/elemental/images/background-slider-night-road.png') !default;
$image-slider-title-color: #ffffff !default;
$image-slider-title-font-family: 'Oswald' !default;
$image-slider-title-font-size: 3.2em !default;
$image-slider-title-font-weight: 300 !default;
$image-slider-paragraph-color: #6e6e6e !default;
$image-slider-paragraph-font-size: 1.1em !default;
$image-slider-paragraph-font-weight: 400 !default;

$thumbnail-hover: #fa9c38;
$theme-accent-bg: #f0cfad;
$theme-accent-color: #987747;
