$logo-color: #cd6b5e !default;
$primary: #75ca2a !default;
$secondary: #0099ff !default;
$logo-font-family: 'Abril Fatface' !default;
$logo-font-size: 2.2em !default;
$logo-font-weight: normal !default;
$logo-font-style: normal !default;
$logo-text-decoration: none !default;
$logo-text-transform: none !default;

$image-slider-background-image: url('/concrete/themes/elemental/images/background-slider-night-road.png') !default;
