.ccm-block-tags-wrapper .ccm-block-tags-tag {
  display: inline-block;
  color: #333;
  padding: 5px 8px 6px 8px;
  margin: 3px 6px 3px 0;
  border-radius: 4px;
  background-color: #eee;
}

.ccm-block-tags-wrapper a:hover .ccm-block-tags-tag {
  background-color: #ccc;
}

.ccm-block-topic-list-wrapper .ccm-block-topic-list-list {
  list-style: none;
}

.ccm-block-topic-list-topic-selected {
  font-weight: bold;
}