body {font-family:Arial, Helvetica, sans-serif; font-size:13px; line-height:18px; color:#777}

img {border: 0px}
a,a:visited,a:active {color: #66aa33}
a:hover {color: #66CC00} 

h1,h2,h3,h4,h5{ color:#444; margin:0px 0px 4px 0px; padding:4px 0px; margin-top:8px }
h1{ font-size:21px; line-height:28px }
h2{ font-size:18px; line-height:24px }
h3{ font-size:16px; line-height:21px }
h4{ font-size:14px; line-height:18px }
h5{ font-size:13px; line-height:16px }
p{ padding:0px 0px 0px 0px; 0px 0px 16px 0px}