div.theme-oxford-shirt {
  div.ccm-block-hero-image {
    div.ccm-block-hero-image-text {
      display: flex;
      align-items: start;
      justify-content: center;
      flex-direction: column;
      padding: 0 1rem;
      color: $hero-image-title-color;
      h1 {
        font-family: $display-font-family;
        @include rfs($hero-image-title-font-size);
        font-weight: 700;
        margin-bottom: 0;
      }
      @include media-breakpoint-up(md) {
        padding: 0 6rem;
        h1 {
          font-family: $display-font-family;
          @include font-size($hero-image-title-font-size);
          font-weight: 700;
          margin-bottom: 0;
        }
        p {
          font-size: 1rem;
        }
      }
      h1 {
        font-family: $display-font-family;
        @include font-size($hero-image-title-font-size);
        font-weight: 700;
        margin-bottom: 0;
      }
      p {
        text-align: left;
      }
      .btn {
        padding-left: 3rem;
        padding-right: 3rem;
      }
    }
  }
}
