@charset "UTF-8";
/* stylelint-disable selector-max-compound-selectors */
/** Override bootstrap headings */
/* panels */
/* colors */
/* headings */
/* special dialog variables */
/* additional tab colors */
/* selectize */
/* file manager image cell */
/** --- Zindexes --- **/
/* Base page */
/* Dashboard form actions wrapper */
/* Menus In Page */
/* Checkboxes and stars in search results above menus */
/* Inline Editing in Page */
/* Inline Editing with Editable Fields */
/* Dropdown Menus */
/* Status Bar (below concrete5 toolbar and panels) */
/* Page alert (blue boxes) –similar to dashboard help but at the page level. Should come below the dialog overlay and the intelligent search */
/* Panels */
/* this is the overlay over the main content. must come below the panel z-index */
/* Draggables */
/* Main concrete5 toolbar */
/* Disable Toolbar (over toolbar) */
/* dashboard privacy policy */
/* Inline Editing Toolbar - has to come above disabled toolbar */
/* Main concrete5 toolbar - has to come above dashboard help notifications because of stupid webkit compositing */
/* Intelligent Search */
/* Dialogs */
/* Magnific Popup –has to come above dialogs because it might get called from a dialog*/
/* Redactor dropdown –can be either inline OR in a dialog box so we have to come above dialog. Hopefully this doesn't
cause other problems */
/* Dialog Content */
/* Search Checkboxes */
/* Dialog Chrome */
/* Tooltips and hovers in dialogs */
/* tooltips that live on the same plane as menus */
/* Edit Response HUDs - should come above modal dialog stuff. */
/* Dashboard panels */
/* Sitemap Icons */
/* Help Tours */
div.ccm-conversation-avatar {
  left: 0;
  margin-right: 10px;
  position: absolute;
  top: 0;
  width: 40px;
}
div.ccm-conversation-avatar img {
  border-radius: 4px;
  max-height: 40px !important;
  max-width: 40px !important;
}

div.ccm-conversation-message-form ul.redactor-toolbar {
  border: 1px solid #ddd;
  box-shadow: none;
}
div.ccm-conversation-message-form .redactor-editor {
  border: 1px solid #eee;
  padding: 10px;
}

.cnv-admin-pane {
  position: absolute;
  right: 0;
  top: -10px;
}
.cnv-admin-pane a.dropdown-toggle {
  font-size: 0.875rem;
}
.cnv-admin-pane .dropdown-menu {
  left: auto;
  right: 0;
}
.cnv-admin-pane .dropdown-menu a.admin-edit {
  color: #0c6;
}
.cnv-admin-pane .dropdown-menu a.admin-edit:hover {
  color: white;
}
.cnv-admin-pane .dropdown-menu a.admin-delete {
  color: #ff7070;
}
.cnv-admin-pane .dropdown-menu a.admin-delete:hover {
  color: white;
}

div.ccm-conversation-message-count {
  float: left;
  font-weight: bold;
  margin-top: 20px;
}

div.ccm-conversation-messages-header {
  margin-bottom: 15px;
}
div.ccm-conversation-messages-header::after {
  display: block;
  clear: both;
  content: "";
}
div.ccm-conversation-messages-header select.ccm-sort-conversations {
  float: right;
  font-size: 0.875rem;
  margin-top: 10px;
  width: auto;
}

div.ccm-conversation-add-reply,
div.ccm-conversation-add-new-message,
div.ccm-conversation-edit-message {
  clear: both;
  position: relative;
}
div.ccm-conversation-add-reply::after,
div.ccm-conversation-add-new-message::after,
div.ccm-conversation-edit-message::after {
  display: block;
  clear: both;
  content: "";
}
div.ccm-conversation-add-reply form,
div.ccm-conversation-add-new-message form,
div.ccm-conversation-edit-message form {
  margin-bottom: 0;
}
div.ccm-conversation-add-reply div.ccm-conversation-avatar + div.ccm-conversation-message-form,
div.ccm-conversation-add-new-message div.ccm-conversation-avatar + div.ccm-conversation-message-form,
div.ccm-conversation-edit-message div.ccm-conversation-avatar + div.ccm-conversation-message-form {
  padding-left: 50px;
}
div.ccm-conversation-add-reply div.ccm-conversation-message-form::after,
div.ccm-conversation-add-new-message div.ccm-conversation-message-form::after,
div.ccm-conversation-edit-message div.ccm-conversation-message-form::after {
  display: block;
  clear: both;
  content: "";
}
div.ccm-conversation-add-reply div.ccm-conversation-message-form textarea,
div.ccm-conversation-add-new-message div.ccm-conversation-message-form textarea,
div.ccm-conversation-edit-message div.ccm-conversation-message-form textarea {
  box-sizing: border-box;
  font-size: 0.875rem;
  height: 80px;
  width: 100%;
}
div.ccm-conversation-add-reply div.ccm-conversation-message-form .ccm-conversation-attachment-toggle,
div.ccm-conversation-add-new-message div.ccm-conversation-message-form .ccm-conversation-attachment-toggle,
div.ccm-conversation-edit-message div.ccm-conversation-message-form .ccm-conversation-attachment-toggle {
  float: right;
  opacity: 0.7;
}
div.ccm-conversation-add-reply div.ccm-conversation-message-form .ccm-conversation-attachment-toggle.btn-success,
div.ccm-conversation-add-new-message div.ccm-conversation-message-form .ccm-conversation-attachment-toggle.btn-success,
div.ccm-conversation-edit-message div.ccm-conversation-message-form .ccm-conversation-attachment-toggle.btn-success {
  border-bottom: 0;
  border-top: 0;
}
div.ccm-conversation-add-reply div.ccm-conversation-message-form button,
div.ccm-conversation-add-reply div.ccm-conversation-message-form a.btn,
div.ccm-conversation-add-new-message div.ccm-conversation-message-form button,
div.ccm-conversation-add-new-message div.ccm-conversation-message-form a.btn,
div.ccm-conversation-edit-message div.ccm-conversation-message-form button,
div.ccm-conversation-edit-message div.ccm-conversation-message-form a.btn {
  margin: 16px 0 0 16px;
}

div.ccm-conversation-add-new-message {
  margin-bottom: 20px;
}

div.ccm-conversation-add-reply {
  display: none;
  margin-top: 20px;
}

div.ccm-conversation-attachment-container {
  margin-top: 20px;
}
div.ccm-conversation-attachment-container .dropzone {
  border: 1px dashed #dee2e6;
}

div.ccm-conversation-errors {
  display: none;
}

div.ccm-conversation-message-list div.ccm-conversation-delete-message {
  display: none;
}
div.ccm-conversation-message-list div.ccm-conversation-delete-attachment {
  display: none;
}

div.ccm-conversation-dialog textarea {
  width: 100%;
}
div.ccm-conversation-dialog div.ui-dialog-buttonset {
  float: none !important;
}

div.ccm-conversation-message.ccm-conversation-message-topic {
  padding-left: 0;
}

div.ccm-conversation-message {
  padding-bottom: 20px;
  padding-left: 50px;
  padding-right: 0;
  padding-top: 0;
  position: relative;
}
div.ccm-conversation-message::after {
  display: block;
  clear: both;
  content: "";
}
div.ccm-conversation-message div.ccm-conversation-message-byline {
  color: #9f9f9f;
  margin-bottom: 0;
  padding: 0 8px 8px;
}
div.ccm-conversation-message div.ccm-conversation-message-byline span.ccm-conversation-message-date {
  color: #9f9f9f;
}
div.ccm-conversation-message div.ccm-conversation-message-byline span.ccm-conversation-message-username {
  color: #09f;
  font-weight: bold;
}
div.ccm-conversation-message div.ccm-conversation-message-byline span.ccm-conversation-message-divider {
  padding: 0 10px;
}
div.ccm-conversation-message .message-attachments::after {
  display: block;
  clear: both;
  content: "";
}
div.ccm-conversation-message .message-attachments .attachment-container {
  background: #f9f9f9;
  border: 1px solid #ccc;
  border-radius: 4px;
  display: block;
  margin-bottom: 20px;
  position: relative;
}
div.ccm-conversation-message .message-attachments .attachment-container::after {
  display: block;
  clear: both;
  content: "";
}
div.ccm-conversation-message .message-attachments .attachment-container .attachment-preview-container {
  float: left;
  min-height: 90px;
  width: 90px;
}
div.ccm-conversation-message .message-attachments .attachment-container .image-popover-hover {
  background: transparent;
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
  cursor: pointer;
  height: 90px;
  left: 0;
  position: absolute;
  top: 0;
  width: 90px;
}
div.ccm-conversation-message .message-attachments .attachment-container .image-popover-hover .glyph-container {
  background-color: black;
  border-radius: 4px;
  color: #fff;
  display: none;
  height: 36px;
  margin: 29px 0 0 27px;
  padding: 8px 0 0 10px;
  width: 36px;
}
div.ccm-conversation-message .message-attachments .attachment-container .image-popover-hover .glyph-container i {
  margin-left: 1px;
}
div.ccm-conversation-message .message-attachments .attachment-container .image-popover-hover:hover {
  background: #0a5d99;
  opacity: 0.8;
}
div.ccm-conversation-message .message-attachments .attachment-container .image-popover-hover:hover .glyph-container {
  display: block;
}
div.ccm-conversation-message .message-attachments .attachment-container img {
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
  float: left;
}
div.ccm-conversation-message .message-attachments .attachment-container p.image-preview {
  display: block;
  float: left;
  padding: 20px 0 10px 20px;
}
div.ccm-conversation-message .ccm-conversation-message-body {
  padding: 0 8px;
}
div.ccm-conversation-message div.ccm-conversation-message-controls {
  color: #999;
  padding: 0 0 0 8px;
}
div.ccm-conversation-message div.ccm-conversation-message-controls::after {
  display: block;
  clear: both;
  content: "";
}
div.ccm-conversation-message div.ccm-conversation-message-controls a.ccm-conversation-message-control-icon {
  color: #999;
}
div.ccm-conversation-message div.ccm-conversation-message-controls a.ccm-conversation-message-control-icon:hover {
  color: #333;
}
div.ccm-conversation-message div.ccm-conversation-message-controls .ccm-conversation-social-share {
  display: none;
}
div.ccm-conversation-message div.ccm-conversation-message-controls span.control-divider {
  display: block;
  float: left;
  margin-left: 15px;
  padding: 8px;
}
div.ccm-conversation-message div.ccm-conversation-message-controls li:first-child {
  margin-left: 0;
}
div.ccm-conversation-message div.ccm-conversation-message-controls ul {
  float: left;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
div.ccm-conversation-message div.ccm-conversation-message-controls ul li {
  display: inline-block;
  margin-left: 20px;
}
div.ccm-conversation-message div.ccm-conversation-message-controls ul li.dropdown {
  margin-left: 0;
}
div.ccm-conversation-message div.ccm-conversation-message-controls ul a {
  display: block;
  padding-bottom: 8px;
  padding-top: 8px;
}

div.ccm-conversation-message-deleted,
div.ccm-conversation-message-flagged {
  opacity: 0.3;
}

div.ccm-conversation-message:hover .ccm-conversation-message-admin-control {
  display: inline-block;
}

.ccm-conversation-message-admin-control {
  display: none;
}

div.ccm-conversation-message:hover div.ccm-conversation-message-controls .ccm-conversation-social-share {
  display: inline-block;
}

div.ccm-conversation-messages-threaded div.ccm-conversation-message-level0 {
  margin-left: 0;
}
div.ccm-conversation-messages-threaded div.ccm-conversation-message-level1 {
  margin-left: 50px;
}
div.ccm-conversation-messages-threaded div.ccm-conversation-message-level2 {
  margin-left: 100px;
}
div.ccm-conversation-messages-threaded div.ccm-conversation-message-level3 {
  margin-left: 150px;
}
div.ccm-conversation-messages-threaded div.ccm-conversation-message-level4 {
  margin-left: 200px;
}

div.ccm-conversation-form-submitted {
  opacity: 0.4;
}

div.ccm-conversation-load-more-messages {
  padding: 0 0 20px;
  text-align: center;
}

/**
 * Basic editor styles
 */
.conversation-editor {
  height: 200px;
}

/**
 * Discussions
 */
ul.ccm-discussion-topics {
  list-style-type: none;
  margin: 0 0 20px;
  padding: 0;
}
ul.ccm-discussion-topics li {
  border-bottom: 1px inset #ccc;
  display: block;
  min-height: 60px;
  padding: 4px 4px 10px 80px;
  position: relative;
}
ul.ccm-discussion-topics li div.ccm-discussion-topic-replies {
  color: #999;
  height: 62px;
  left: 0;
  position: absolute;
  text-align: center;
  top: 18px;
  width: 62px;
}
ul.ccm-discussion-topics li div.ccm-discussion-topic-replies em {
  color: #999;
  display: block;
  font-style: normal;
  line-height: 1em;
  margin: 5px auto 0;
}
ul.ccm-discussion-topics li div.ccm-discussion-topic-details {
  color: #444;
}
ul.ccm-discussion-topics h3 {
  margin-bottom: 2px;
}

div.ccm-discussion select.ccm-discussion-order-by {
  float: right;
  margin-right: 10px;
}