language: php
sudo: false

php:
  - 5.3
  - 5.4
  - 5.5
  - 5.6
  - 7.0
  - hhvm

before_script:
  - bash -c 'if [ "$TRAVIS_PHP_VERSION" != "hhvm" ]; then echo "short_open_tag = Off" >> ~/.phpenv/versions/$(phpenv version-name)/etc/php.ini; fi;'
  - cd web/concrete
  - travis_retry composer install --no-interaction
  - cd ../../tests
  - phpunit --version

script: phpunit

cache:
  directories:
    - vendor
    - $HOME/.composer/cache

notifications:
  email: false
