language: php

env:
  - REF="" # latest tag
  - REF="master"
  - REF="5.7.0-wip"
  - REF="5.6.1.2"

before_script:
    - cd tests
    - composer install
    - echo 'short_open_tag = On' >> ~/.phpenv/versions/$(phpenv version-name)/etc/php.ini
    - git clone https://github.com/concrete5/concrete5.git
    - cd concrete5
    - git checkout `git describe --abbrev=0 --tags` # checkout latest tag
    - git checkout $REF # has no effect if REF=""
    - cd ..
    - mv concrete5/web web
    - mysql -e 'CREATE DATABASE concrete5_tests;'
    - vendor/bin/install-concrete5.php --db-server=localhost --db-username=travis --db-database=concrete5_tests --admin-email=webmaster@example.org --admin-password=password --target=../../../web --starting-point=standard
    - cd concrete5/tests

script: phpunit --bootstrap tests/bootstrap.travis.php

notifications:
  email: false

matrix:
  allow_failures:
    - env: REF="5.7.0-wip"
    - env: REF="5.6.1.2"
