<phpunit
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/sebastianbergmann/phpunit/4.8.36/phpunit.xsd"
        bootstrap="./tests/bootstrap.php"
        colors="true"
        convertErrorsToExceptions="true"
        convertNoticesToExceptions="true"
        convertWarningsToExceptions="true"
        backupGlobals="false"
        backupStaticAttributes="false"
        verbose="true"
        processIsolation="false"
>
    <testsuites>
        <testsuite name="Tests">
            <directory>tests/tests/</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory suffix=".php">concrete/src/</directory>
            <directory suffix=".php">concrete/controllers/</directory>
            <directory suffix="controller.php">concrete/</directory>
            <directory suffix="page_theme.php">concrete/themes/</directory>
        </whitelist>
    </filter>
    <groups>
        <exclude>
            <group>online</group>
            <group>docker</group>
        </exclude>
    </groups>
</phpunit>
