<phpunit
        bootstrap="./tests/tests/bootstrap.php"
        colors="true"
        convertErrorsToExceptions="true"
        convertNoticesToExceptions="true"
        convertWarningsToExceptions="true"
        backupGlobals="false"
        backupStaticAttributes="false">
    <testsuites>
        <testsuite name="Tests">
            <directory>tests/tests/Core/</directory>
            <directory>tests/tests/Asset/</directory>
            <directory>tests/tests/Block/</directory>
            <directory>tests/tests/Attribute/</directory>
            <directory>tests/tests/Localization/</directory>
        </testsuite>
    </testsuites>
    <listeners>
        <listener class="\MyBuilder\PhpunitAccelerator\TestListener"/>
    </listeners>
</phpunit>
