div.alert-success {
    border: 1px solid #05A000 !important;
    background-color: #B5ECB4 !important;
    padding: 8px;
    margin-bottom: 8px;
}

div.alert-error,
div.alert-danger {
    border: 1px solid #f00 !important;
    background-color: #E4B5B5 !important;
    padding: 8px;
    margin-bottom: 8px;
}