/* Magnific Popup –has to come above dialogs because it might get called from a dialog*/
$lightbox-overlay: 2100;
$lightbox-overlay-wrap: 2200;
$lightbox-loader: 2300;
$lightbox-content: 2400;
$lightbox-arrows: 2400;
