div.ccm-block-hero-image {

  min-height: 50vh;
  position: relative;

  div.ccm-block-hero-image-text,
  div.ccm-block-hero-image-cover {
    height: 50vh;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }

  div.ccm-block-hero-image-cover {
    z-index: 2;
  }

  div.ccm-block-hero-image-text {
    z-index: 3;
  }

  div.ccm-block-hero-image-image {
    background-size: cover;
    background-position: center center;
    z-index: 1;
    height: 50vh;
  }



}