/**
 * BEGIN: Injected from .gp/snippets/phpmyadmin/additional-conf.php
 */

// Allow phpmyadmin to work in an iframe
$cfg['AllowThirdPartyFraming'] = true;

/**
 * END: Injected from .gp/snippets/phpmyadmin/additional-conf.php
 */

