div.theme-oxford-shirt {
    nav {
        ol.breadcrumb {
            margin-top: 1rem;
            margin-bottom: 0;
            li {
                padding-right: 1rem;
                margin-right: 0.5rem;
                position: relative;
                font-size: 0.75rem;
                &:after {
                    content: '>';
                    position: absolute;
                    right: 0;
                    top: 0;
                    bottom: 0;
                    margin: auto 0;
                }
                a {
                    color: $default-fc;
                    &:hover {
                        color: $primary;
                    }
                }
            }
            li.active {
                color: $primary;
                &:after {
                    display: none;
                }
            }
        }
    }
  }
  