.ui-dialog-content h1 {background: none !important}
.ui-dialog-content div.ccm-pane-header {display: none;}

#ccm-dialog-loader-wrapper {
	position: fixed;
	display:none;
	height:60px;
	width:60px;
	z-index:2000;
	top: 50%;
	left: 50%;
	margin: -16px 0 0 -30px;
	border: 3px solid #afafaf;
	background-color: #fefefe;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	-moz-border-radius: 6px;
	text-align:center;
}

#ccm-dialog-loader { margin: auto; margin-top: 14px; }