.clearfix{*zoom:1;}.clearfix:before,.clearfix:after{display:table;content:"";}
.clearfix:after{clear:both;}
.ccm-ui .hide-text{font:0/0 a;color:transparent;text-shadow:none;background-color:transparent;border:0;}
.ccm-ui .input-block-level{display:block;width:100%;min-height:28px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;-ms-box-sizing:border-box;box-sizing:border-box;}
.row{margin-left:-20px;*zoom:1;}.row:before,.row:after{display:table;content:"";}
.row:after{clear:both;}
[class*="span"]{float:left;margin-left:20px;}
.container,.navbar-fixed-top .container,.navbar-fixed-bottom .container{width:940px;}
.span12{width:940px;}
.span11{width:860px;}
.span10{width:780px;}
.span9{width:700px;}
.span8{width:620px;}
.span7{width:540px;}
.span6{width:460px;}
.span5{width:380px;}
.span4{width:300px;}
.span3{width:220px;}
.span2{width:140px;}
.span1{width:60px;}
.offset12{margin-left:980px;}
.offset11{margin-left:900px;}
.offset10{margin-left:820px;}
.offset9{margin-left:740px;}
.offset8{margin-left:660px;}
.offset7{margin-left:580px;}
.offset6{margin-left:500px;}
.offset5{margin-left:420px;}
.offset4{margin-left:340px;}
.offset3{margin-left:260px;}
.offset2{margin-left:180px;}
.offset1{margin-left:100px;}
.row-fluid{width:100%;*zoom:1;}.row-fluid:before,.row-fluid:after{display:table;content:"";}
.row-fluid:after{clear:both;}
.row-fluid [class*="span"]{display:block;width:100%;min-height:28px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;-ms-box-sizing:border-box;box-sizing:border-box;float:left;margin-left:2.127659574%;*margin-left:2.0744680846382977%;}
.row-fluid [class*="span"]:first-child{margin-left:0;}
.row-fluid .span12{width:99.99999998999999%;*width:99.94680850063828%;}
.row-fluid .span11{width:91.489361693%;*width:91.4361702036383%;}
.row-fluid .span10{width:82.97872339599999%;*width:82.92553190663828%;}
.row-fluid .span9{width:74.468085099%;*width:74.4148936096383%;}
.row-fluid .span8{width:65.95744680199999%;*width:65.90425531263828%;}
.row-fluid .span7{width:57.446808505%;*width:57.3936170156383%;}
.row-fluid .span6{width:48.93617020799999%;*width:48.88297871863829%;}
.row-fluid .span5{width:40.425531911%;*width:40.3723404216383%;}
.row-fluid .span4{width:31.914893614%;*width:31.8617021246383%;}
.row-fluid .span3{width:23.404255317%;*width:23.3510638276383%;}
.row-fluid .span2{width:14.89361702%;*width:14.8404255306383%;}
.row-fluid .span1{width:6.382978723%;*width:6.329787233638298%;}
.container{margin-right:auto;margin-left:auto;*zoom:1;}.container:before,.container:after{display:table;content:"";}
.container:after{clear:both;}
.container-fluid{padding-right:20px;padding-left:20px;*zoom:1;}.container-fluid:before,.container-fluid:after{display:table;content:"";}
.container-fluid:after{clear:both;}
body{padding:0px;margin:0px;background-color:#fff;line-height:24px;}
body,div,td,input{font-family:"Helvetica Neue",Arial,Helvetica,sans-serif;}
h1{color:#888;margin:0px 0px 30px 0px;border-bottom:1px dotted #888;padding-bottom:10px;font-size:32px;}
h2{color:#303030;margin:0px 0px 10px 0px;font-size:18px;}
div#ccm-logo{border-top:3px solid #222;background:url(../images/bg_header.png) repeat-x;}
div#ccm-theme-wrapper{width:640px;margin:0px auto 0px auto;background:#fff;padding:20px;}
div.container{padding-top:50px;}
input.ccm-input-openid{background:#ffffff url(../images/icons/openid.gif) no-repeat scroll 2px 6px;width:284px;font-size:18px;color:#444;padding:4px 4px 4px 20px !important;}
