.clearfix{*zoom:1;}.clearfix:before,.clearfix:after{display:table;content:"";line-height:0;}
.clearfix:after{clear:both;}
.hide-text{font:0/0 a;color:transparent;text-shadow:none;background-color:transparent;border:0;}
.input-block-level{display:block;width:100%;min-height:28px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
span.dynatree-node span.dynatree-icon,span.dynatree-node img{cursor:move;}
span.dynatree-node a,span.dynatree-node a:hover,span.dynatree-node a:focus{text-decoration:none;-webkit-border-radius:2px;-moz-border-radius:2px;border-radius:2px;}
span.dynatree-drag-source{background-color:transparent !important;}
span.dynatree-active a{background-color:#91E1F1 !important;color:black !important;}
span.dynatree-drop-target.dynatree-drop-accept a{color:black !important;background-color:#E6FBFF !important;}
span.dynatree-node.dynatree-drop-accept.dynatree-drop-before a{color:black !important;background-color:transparent !important;}
span.dynatree-node.dynatree-drop-accept.dynatree-drop-after a{color:black !important;background-color:transparent !important;}
span.ccm-sitemap-explore:hover span.dynatree-title{cursor:pointer;text-decoration:underline;}
