body {background-color: #000;}
div#ccm-dashboard-header {-webkit-box-shadow: 0px 2px 2px rgba(90,90,90,0.3);-moz-box-shadow: 0px 2px 2px rgba(90,90,90,0.3); box-shadow: 0px 2px 2px rgba(90,90,90,0.3); border-bottom: 1px solid #888;background: #eee url(../images/dashboard/bg_header.png) repeat-x scroll; position: absolute; top: 0px; left: 0px; height: 49px; width: 100%; z-index: 10}
img#ccm-dashboard-logo {position: absolute; top: 0px; left: 0px; z-index: 10; }

div#ccm-dashboard-content {  margin-top: 70px; }

/* Header Nav - will move into ccm.menus.css */
ul#ccm-main-nav, ul#ccm-system-nav {font-size: 15px; font-weight: bold;}
ul#ccm-main-nav a, ul#ccm-system-nav a {color: #666; font-weight: bold}
ul#ccm-main-nav a:hover, ul#ccm-system-nav a:hover {text-decoration: none; }
ul#ccm-main-nav {border-left: 1px solid #c5c5c5; margin: 0px; padding: 0px; margin: 0px 0px 0px 8px; position: absolute; top: 0px; left: 49px}
ul#ccm-main-nav li, ul#ccm-system-nav li {
	float: left;
	border-right: 1px solid #c5c5c5;
	padding: 0px; 
	line-height: 12px; 
	margin: 0px 0px 0px 0px !important;
	padding: 0px !important;
	list-style-type: none;
	height: 49px;
}
li.ccm-system-nav-selected, ul#ccm-main-nav li:hover, ul#ccm-system-nav li:hover {background: transparent url(../images/dashboard/bg_header_active.png) repeat-x scroll;}

ul#ccm-main-nav a, ul#ccm-system-nav a {display: block; padding-right: 10px; padding-left: 31px; height: 31px; padding-top: 18px; background-repeat: no-repeat; }
ul#ccm-main-nav a#ccm-nav-return {background-image: url(../images/dashboard/icon_return_to_website.png); background-position: 10px 19px}
ul#ccm-system-nav a#ccm-nav-sign-out {background-image: url(../images/dashboard/icon_logout.png); background-position: 12px 20px}
ul#ccm-system-nav a#ccm-nav-dashboard {background-image: url(../images/icon_dashboard.png); background-position: 10px 18px}
ul#ccm-system-nav li#ccm-nav-intelligent-search-wrapper:hover {cursor: pointer;}
ul#ccm-system-nav input#ccm-nav-intelligent-search {margin: 14px 12px 0px 12px; height: 11px; width: 142px; background: #fff url(../images/icon_intelligent_search_mag.png) no-repeat scroll 3px 4px; padding-left: 16px; padding-top: 6px; padding-bottom: 4px}

ul#ccm-system-nav { margin: 0px; padding: 0px; margin: 0px 0px 0px 8px; position: absolute; top: 0px; right: 0px}
ul#ccm-system-nav li { border-right: 0px; border-left: 1px solid #c5c5c5; }

/* Intelligent Search Results - will move into ccm.menus.css */
div#ccm-intelligent-search-results {padding: 0px; background: transparent url(../images/bg_intelligent_search.png) repeat-y scroll; position: absolute; display: none; top: 50px; right: 103px; width: 430px; border-left: 1px solid #888; border-right: 1px solid #888; border-bottom: 1px solid #888; border-bottom-left-radius: 4px; border-bottom-right-radius: 4px; -webkit-box-shadow: 0px 2px 2px rgba(90,90,90,0.3);-moz-box-shadow: 0px 2px 2px rgba(90,90,90,0.3); box-shadow: 0px 2px 2px rgba(90,90,90,0.3);}
div#ccm-intelligent-search-results span {display: none;}
div#ccm-intelligent-search-results div.ccm-intelligent-search-results-module-offsite {display: block;}
div#ccm-intelligent-search-results div.ccm-intelligent-search-results-module-onsite {display: none;}
div.ccm-intelligent-search-results-module-loading {background: transparent url(../images/loader_intelligent_search.gif) no-repeat scroll 130px 25px}
div#ccm-intelligent-search-results div.ccm-intelligent-search-results-module {position: relative; min-height: 60px; margin-left: 120px; border-top: 2px groove #fff; }
div#ccm-intelligent-search-results div.ccm-intelligent-search-results-module h1 {font-size: 11px; font-weight: bold; color: #9a9a9a; text-transform: uppercase; line-height: 14px; position: absolute; top: 12px; left: -110px; text-align: right; width: 95px}
div#ccm-intelligent-search-results div.ccm-intelligent-search-results-module li {list-style-type: none; margin-left: -15px}
div#ccm-intelligent-search-results div.ccm-intelligent-search-results-module ul {margin-left: 15px; margin-bottom: 10px !important; margin-top: 10px !important}
ul#ccm-intelligent-search-results-list-marketplace li a img {float: left; margin-right: 8px; margin-top: 1px; width: 16px; height: 16px}

div#ccm-intelligent-search-results li a {display: block; border-color: transparent; color: #000; padding: 1px 15px 1px 15px;}
div#ccm-intelligent-search-results li a:hover {text-decoration: none;}
div#ccm-intelligent-search-results li a.ccm-intelligent-search-result-selected {border-radius: 2px; -webkit-border-radius: 2px; -moz-border-radius: 2px; background-color: rgba(192,225,246,0.4); border: 1px solid rgba(117,185,240,0.4) !important; padding: 0px 14px 0px 14px; text-decoration: none;}

/* Dashboard Overlay - will move into ccm.menus.css */
div#ccm-dashboard-overlay {position: absolute; background: #fff; display: none; top: 50px; right: 180px; width: 540px; border-left: 1px solid #888; border-right: 1px solid #888; border-bottom: 1px solid #888; border-bottom-left-radius: 4px; border-bottom-right-radius: 4px; -webkit-box-shadow: 0px 2px 2px rgba(90,90,90,0.3);-moz-box-shadow: 0px 2px 2px rgba(90,90,90,0.3); box-shadow: 0px 2px 2px rgba(90,90,90,0.3);}
div#ccm-dashboard-overlay a {display: table-cell; height: 50px; width: 140px; padding: 10px; color: #333; vertical-align: middle; -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px}
div#ccm-dashboard-overlay a b {font-size: 16px; line-height: 20px; display: block; margin-bottom: 2px;}
div#ccm-dashboard-overlay a:hover { border-radius: 4px; -webkit-border-radius: 4px; -moz-border-radius: 4px; background-color: rgba(192,225,246,0.4); border: 1px solid rgba(117,185,240,0.4) !important; padding: 9px; text-decoration: none;}
div#ccm-dashboard-overlay-footer {border-top: 1px solid #dfdfdf; background-color: #f2f2f2; border-bottom-left-radius: 4px; border-bottom-right-radius: 4px; }
div#ccm-dashboard-overlay-footer div.ccm-dashboard-overlay-inner {border-top: 1px solid #fff}
div.ccm-dashboard-overlay-inner {padding: 10px;}

/* Legacy Central Panes */
div.ccm-dashboard-inner {padding: 20px; background-color:#ffffff;border:1px solid #999;border:1px solid rgba(0, 0, 0, 0.3);*border:1px solid #999;-webkit-border-radius:6px;-moz-border-radius:6px;border-radius:6px;-webkit-box-shadow:0 3px 7px rgba(0, 0, 0, 0.3);-moz-box-shadow:0 3px 7px rgba(0, 0, 0, 0.3);box-shadow:0 3px 7px rgba(0, 0, 0, 0.3);-webkit-background-clip:padding-box;-moz-background-clip:padding-box;background-clip:padding-box;}

/* New Central Panes */
.ccm-dashboard-pane-backdrop{background-color:rgba(0, 0, 0, 0.5);position:fixed;top:0;left:0;right:0;bottom:0;z-index:1000;}
.ccm-dashboard-pane{background-color:#ffffff;border:1px solid #999;border:1px solid rgba(0, 0, 0, 0.3);*border:1px solid #999;-webkit-border-radius:6px;-moz-border-radius:6px;border-radius:6px;-webkit-box-shadow:0 3px 7px rgba(0, 0, 0, 0.3);-moz-box-shadow:0 3px 7px rgba(0, 0, 0, 0.3);box-shadow:0 3px 7px rgba(0, 0, 0, 0.3);-webkit-background-clip:padding-box;-moz-background-clip:padding-box;background-clip:padding-box;}
.ccm-dashboard-pane-header{border-bottom:1px solid #eee;padding:5px 20px;}
.ccm-dashboard-pane-header h3 {font-size: 24px}
.ccm-dashboard-pane-body{padding:20px;}
.ccm-dashboard-pane-footer{background-color:#f5f5f5;padding:14px 20px 15px;border-top:1px solid #ddd;-webkit-border-radius:0 0 6px 6px;-moz-border-radius:0 0 6px 6px;border-radius:0 0 6px 6px;-webkit-box-shadow:inset 0 1px 0 #ffffff;-moz-box-shadow:inset 0 1px 0 #ffffff;box-shadow:inset 0 1px 0 #ffffff;zoom:1;margin-bottom:0;}
.ccm-dashboard-pane-options {background-color:#f5f5f5;padding:14px 20px 15px;border-bottom:1px solid #ddd;-webkit-box-shadow:inset 0 1px 0 #ffffff;-moz-box-shadow:inset 0 1px 0 #ffffff;box-shadow:inset 0 1px 0 #ffffff;zoom:1;margin-bottom:0;}

.ccm-dashboard-pane-footer:before, .ccm-dashboard-pane-footer:after{display:table;content:"";}
.ccm-dashboard-pane-footer:after{clear:both;}
.ccm-dashboard-pane-footer .btn{float:right;margin-left:10px;}
