/* Base page */
/* Menus In Page */
/* Checkboxes and stars in search results above menus */
/* Inline Editing in Page */
/* Inline Editing with Editable Fields */
/* Dropdown Menus */
/* Status Bar (below concrete5 toolbar and panels) */
/* Panels */
/* this is the overlay over the main content. must come below the panel z-index */
/* Draggables */
/* Main concrete5 toolbar */
/* Disable Toolbar (over toolbar) */
/* Dashboard Help Notifications – has to come BELOW the modal dialog stuff, because it's not really an ephemeral notification */
/* Inline Editing Toolbar - has to come above disabled toolbar */
/* Intelligent Search */
/* Dialogs */
/* Dialog Content */
/* Search Checkboxes
@index-level-search-checkbox: 1575;

/* Dialog Chrome */
/* Tooltips and hovers in dialogs */
/* Edit Response HUDs - should come above modal dialog stuff. */
.clear_float:before,
.clear_float:after {
  content: " ";
  display: table;
}
.clear_float:after {
  clear: both;
}
div.ccm-tree-sitemap span.glyphicon-home {
  color: #9fb9d3;
}
div.ccm-tree-sitemap ul.dynatree-container,
div.ccm-tree-sitemap a {
  font-size: 14px;
  color: #666666;
}
div.ccm-tree-sitemap .ccm-page-home a {
  color: #369;
  font-weight: bold;
}
div.ccm-tree-sitemap ul.dynatree-container ul {
  padding-left: 20px;
}
div.ccm-tree-sitemap span.dynatree-node a {
  margin-bottom: 7px;
}
div.ccm-tree-sitemap span.dynatree-node span.dynatree-icon,
div.ccm-tree-sitemap span.dynatree-node img {
  cursor: move;
}
div.ccm-tree-sitemap span.dynatree-node a,
div.ccm-tree-sitemap span.dynatree-node a:hover,
div.ccm-tree-sitemap span.dynatree-node a:focus {
  text-decoration: none;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -ms-border-radius: 2px;
}
div.ccm-tree-sitemap span.dynatree-drag-source {
  background-color: transparent !important;
}
div.ccm-tree-sitemap span.dynatree-active a {
  background-color: transparent !important;
  color: black !important;
}
div.ccm-tree-sitemap span.dynatree-drop-target.dynatree-drop-accept a {
  color: black !important;
  background-color: #E6FBFF !important;
}
div.ccm-tree-sitemap span.dynatree-node.dynatree-drop-accept.dynatree-drop-before a {
  color: black !important;
  background-color: transparent !important;
}
div.ccm-tree-sitemap span.dynatree-node.dynatree-drop-accept.dynatree-drop-after a {
  color: black !important;
  background-color: transparent !important;
}
div.ccm-tree-sitemap span.ccm-sitemap-explore:hover span.dynatree-title {
  cursor: pointer;
  text-decoration: underline;
}
