<phpunit
        bootstrap="./tests/bootstrap.php"
        colors="true"
        convertErrorsToExceptions="true"
        convertNoticesToExceptions="true"
        convertWarningsToExceptions="true"
        backupGlobals="false"
        backupStaticAttributes="false">
    <testsuites>
        <testsuite name="CoreTests">
            <directory>tests/Core/</directory>
        </testsuite>
        <testsuite name="AssetsTests">
            <directory>tests/Asset/</directory>
        </testsuite>
        <testsuite name="BlockTypesTests">
            <directory>tests/Block/</directory>
        </testsuite>
        <testsuite name="AttributesTests">
            <directory>tests/Attribute/</directory>
        </testsuite>
    </testsuites>
</phpunit>
