<phpunit
	bootstrap="tests/bootstrap.php">
	<testsuites>
		<testsuite name="BlockTypes">
			<directory>tests/Block/</directory>
		</testsuite>
		<testsuite name="CoreFoundation">
			<directory>tests/Core/Foundation/</directory>
		</testsuite>
		<testsuite name="CoreDatabase">
			<directory>tests/Core/Database/</directory>
		</testsuite>
		<testsuite name="CoreStyle">
			<directory>tests/Core/Style/</directory>
		</testsuite>
	</testsuites>
</phpunit>
