/* internal functions */
div.ccm-aggregator-item:hover {
  ul.ccm-aggregator-item-inline-commands {
    opacity: 1;
  }

  div.ui-resizable-handle {
     background-color: rgba(255,255,255,1);
     .border-top-left-radius(3px);
     opacity: 1;
  }

}

div.ccm-aggregator-item-drop-active {
  outline: 2px solid #0c6;
  outline-offset: 5px;
}

.ccm-aggregator-resize-helper {
  background-color: #B9E1FF;
  border: 1px solid #6FB0DB;
  z-index: 10000;
  opacity: 0.7;
  -webkit-transition: width 0.1s linear, height 0.1s linear;
}




div.ccm-aggregator-grid {

  opacity: 0;
  -webkit-transition: opacity 0.3s linear;
  margin-bottom: 20px;

  > div.ccm-aggregator-item {
    overflow: hidden;
    .box-sizing(border-box);

    div.ccm-aggregator-item-inner {
        border: 1px solid #ddd;
        background-color: #f2f2f2;
        padding: 5px;
        position: relative;

          .box-sizing(border-box);
          width: 100%;
          height: 100%;

        div.ccm-aggregator-item-inner-render {
          .box-sizing(border-box);
          width: 100%;
          height: 100%;
        }
    }

  }


  div.ccm-aggregator-tile-headline {
    font-weight: bold;
    font-size: 14px;
  }
 
}


div.ccm-aggregator-active-tile-commands {

  div.ccm-aggregator-item {  
   z-index: 20;
  }

  div.ui-resizable-handle {
    opacity: 0;
    .transition(opacity 0.1s linear);
  }

  ul.ccm-aggregator-item-inline-commands {
    opacity: 0;
    padding: 0px !important;
    margin: 0px !important;
    z-index: 100;
    .transition(opacity 0.1s linear);

    li {
        position: absolute;
        list-style-type: none;
        display: inline-block;
        line-height: 12px !important;
        font-size: 0px;
        padding: 0px !important;
        margin: 0px !important;

        a {
          background: rgba(255,255,255,1);
          color: #333 !important;
          display: inline-block;
          font-weight: lighter;
          line-height: 100% !important;
          text-align: center;
          padding: 5px;
          color: #666; 
          
          i {
            vertical-align: middle;
          }
        }

        a:hover {
          text-decoration: none !important;
        }

    }

    li.ccm-aggregator-item-inline-move {
      top: 0px;
      right: 0px;
      
      a {
       cursor: move;
       .border-bottom-left-radius(3px);
      }

    }

    li.ccm-aggregator-item-inline-options {
      top: 0px;
      left: 0px;
      
      a {
       .border-bottom-right-radius(3px);
      }

    }

  }

}


div.ccm-aggregator-load-more {
  text-align: center;
  padding: 0px 0px 20px 0px;

  button {
    z-index: 100;
    position: relative;
  }

}

div.ccm-aggregator-overlay-wrapper {
  div.ccm-aggregator-overlay {
    opacity: 0;
   .transition(all 0.2s ease-in-out);
   transform: scale(0.8);
   -webkit-transform: scale(0.8);
   -moz-transform: scale(0.8);
   -ms-transform: scale(0.8);
   -o-transform: scale(0.8);
   
  }
}

div.ccm-aggregator-overlay-wrapper.mfp-ready {
  div.ccm-aggregator-overlay {
    opacity: 1;
   transform: scale(1.0);
   -webkit-transform: scale(1.0);
   -moz-transform: scale(1.0);
   -o-transform: scale(1.0);
  }
}

div.ccm-aggregator-overlay-wrapper.mfp-removing {
  div.ccm-aggregator-overlay {
    opacity: 0;
   transform: scale(0.8);
   -webkit-transform: scale(0.8);
   -moz-transform: scale(0.8);
   -ms-transform: scale(0.8);
   -o-transform: scale(0.8);
  }
}

div.ccm-aggregator-overlay {
  width: 600px;
  height: 400px;
  margin: 40px auto 0px auto;
  background-color: #fff;
  position: relative;
}

div.ccm-aggregator-overlay-title {
  padding-top: 8px 0px 0px 8px;
  border-bottom: 1px solid #333;
  height: 40px;
  color: #aaa;
  .box-sizing(border-box);
  font-weight: lighter;
  font-size: 32px;
}

div.ccm-aggregator-thumbnail-caption {
  font-weight: bold;
  padding: 4px;
  background-color: #000;
  color: #fff;
  .border-bottom-radius(3px);
}

div.ccm-aggregator-item.ccm-aggregator-item-over {
  border: 1px solid rgb(0,8,0);
}
