div.ccm-aggregator-grid {

  opacity: 0;
  -webkit-transition: opacity 0.3s linear;
 
  > div {
    border: 1px solid #ddd;
    background-color: #f2f2f2;
    padding: 5px;
    .box-sizing(border-box);
    overflow: hidden;
  }


  div.ccm-aggregator-tile-headline {
    font-weight: bold;
    font-size: 14px;
  }
 

}