body {background-color: #eee; margin: 0px;}
div#ccm-dashboard-content {  margin-top: 130px; margin-bottom: 80px }

/* New Central Panes */
.ccm-pane-backdrop{background-color:rgba(0, 0, 0, 0.5);position:fixed;top:0;left:0;right:0;bottom:0;z-index:1000;}
.ccm-pane{border:1px solid #999;border:1px solid rgba(0, 0, 0, 0.3);*border:1px solid #999;-webkit-border-radius:6px;-moz-border-radius:6px;border-radius:6px;-webkit-box-shadow:0 3px 7px rgba(0, 0, 0, 0.3);-moz-box-shadow:0 3px 7px rgba(0, 0, 0, 0.3);box-shadow:0 3px 7px rgba(0, 0, 0, 0.3);-webkit-background-clip:padding-box;-moz-background-clip:padding-box;background-clip:padding-box;}
.ccm-pane-header{
	#gradient > .vertical(#f1f1f1,#d1d1d1);
	background-clip: padding-box;
	-webkit-border-top-left-radius: 6px;
	-webkit-border-top-right-radius: 6px;
	border-top-right-radius: 6px;
	border-top-left-radius: 6px;
	-moz-border-radius-topleft: 6px;
	-moz-border-radius-topright: 6px;
	border-bottom:1px solid #eee;padding:5px 20px; position: relative;}

.ccm-dashboard-page-container {  .fixed-container(); }

#ccm-dashboard-background-caption {
	background-color: rgba(0,0,0,0.8) !important;
	box-shadow: 0px -5px -5px rgba(0,0,0,0.3);
	-moz-box-shadow: 0px -5px 5px rgba(0,0,0,0.3);
	-webkit-box-shadow: 0px -5px 5px rgba(0,0,0,0.3);
	position: fixed;
	bottom: 0px;
	right: 0px;
}

#ccm-dashboard-background-caption-inner {
	padding: 5px 10px 5px 10px;
	font-weight: bold;
	color: #fff;
	text-align: right;
}

#ccm-dashboard-background-caption-inner a {
	color: #fff;
}

#ccm-dashboard-background-caption-inner a:hover {
	color: #fff;
}

/* System Page */
div.ccm-dashboard-system-category h3 {border-bottom: 1px solid #dfdfdf; margin-bottom: 0px;
}

div.ccm-dashboard-system-category h3 a {color: #333;}
div.ccm-dashboard-system-category h3 a:hover {text-decoration: none; color: #999;}
div.ccm-dashboard-system-category-inner {.clearfix(); 
	border-top: 1px solid #f2f2f2;
	padding: 10px 0px 20px 0px;
	margin-bottom: 20px;
}
div.ccm-dashboard-system-category-inner div {
	margin-left: 0px !important;
}

/* Legacy Central Panes */
.ccm-dashboard-page-container h1 {
	position: relative;
}

.ccm-dashboard-page-container h1 span {
	.ccm-pane-header;
	#font > .sans-serif(bold, 24px, 36px);
	border-left: 1px solid #999;
	border-top: 1px solid #999;
	border-right: 1px solid #999;
	padding-top: 5px;
	padding-bottom: 5px;
	font-weight: bold;
	display: block;
	color: @grayDark;
}

div.ccm-dashboard-inner {
	padding: 20px; 
	color: @gray;
	margin-top: -21px;
	background-color:#ffffff;
	border-left: 1px solid #999;
	border-bottom: 1px solid #999;
	border-right: 1px solid #999;
	.border-radius-bottom-only(6px);
	#font > .sans-serif();
	.box-shadow(0 3px 7px rgba(0,0,0,0.3));
}

/* Dashboard Listing of Attributes */
div.ccm-attribute-list {margin-top: 20px; margin-bottom: 20px}
div.ccm-attribute img {vertical-align: middle; margin-right: 4px}
div.ccm-attribute {border-bottom: 1px dotted #aaa; margin-bottom: 5px; padding-bottom: 5px}

/* permissions */
div.ccm-permissions-entities-wrapper {padding-bottom: 10px; margin-bottom: 10px}
div.ccm-permissions-entities-wrapper h3 {margin-bottom: 10px; border-bottom: 1px dotted #aaa;}
div.ccm-permissions-entities-wrapper h3 img {float: right; margin-top: 10px}
div.ccm-permissions-entity-base {display: none}

/* users */
#ccm-dashboard-user-body img.u-avatar {float: right; margin: 0px 0px 10px 10px}

