
div.ccm-discussion-add-conversation {
	display: none;
}

div.ccm-discussion-form {

	input[type=text] {
		box-sizing: border-box;
		width: 100%;
		height: 28px;		
	}

	textarea {
		height: 200px;
	}

}