table.ccm-search-results-table {
	
	thead {
		th {
			&.ccm-file-manager-search-results-star {
				i {
					color: #fff;
				}
			}
		}
	}

	tbody {
		td {
			&.ccm-file-manager-search-results-star {
				a {
					color: #ababab;
					position: relative;
					z-index: @index-level-search-results-stars;
					text-decoration: none;
				
					&:hover {
						text-decoration: none;
						color: #666;
					}
				}
			}

			&.ccm-file-manager-search-results-star-active {
				a {
					color: #222 !important;
				}
			}

		}
	}

}

#ccm-file-manager-download-target {
	width: 0px;
	height: 0px;
	visibility: hidden;
}