

#ccm-theme-grid-holder-temp {
	position: absolute; 
	z-index: -9999; 
	visibility: hidden;
	bottom: 0px;
	left: 0px;
}

#ccm-theme-grid-edit-mode-row-wrapper {
	position: relative;
}

#ccm-layouts-edit-mode {
	
	.clearfix();

	.ccm-layout-column:first-child .ccm-layout-column-highlight {
		border-left: 0px !important;
	}

	.ccm-layout-column {

		float: left;

	}

	.ccm-layout-column-highlight {
		min-height: 80px;
		background-color: #B9E1FF;
		border-left: 1px solid #6FB0DB;
		padding-top: 1px; /* disable margin collapse inner */
		border-right: 1px solid #6FB0DB;
		border-collapse: collapse;
	}

}

.ccm-layouts-toolbar-save {
	position: absolute;
	top: 5px;
	right: 15px;
}

#ccm-layouts-save-button {
	margin-left: 6px;
}

