#ccm-theme-grid-edit-mode-row-wrapper {
	position: relative;
}

#ccm-layouts-edit-mode {
	
	.clearfix();
	outline: 1px solid #4deb4d;
	outline-offset: 5px;

	.ccm-layout-column {

		float: left;

	}

	.ccm-layout-column-highlight {
		min-height: 80px;
		background-color: #f5fafe;
		border: 1px solid #6fb0db;
		padding-top: 1px; /* disable margin collapse inner */
		border-collapse: collapse;
	}

}


div.ccm-area-layout-control-bar {
	background: #4deb4d;
	.border-top-radius(4px);
	.border-bottom-radius(0px);
	height: 6px;
	line-height: 6px;
	border: 0px;
	margin-bottom: 6px;
	margin-top: 10px;
	margin-left: -6px;
	margin-right: -6px;

	.ui-slider-handle {
		height: 12px;
		background: #b3feb3;
		border: 1px solid #53ba98;
		.border-radius(2px);
		width: 12px;

	}
}

div.ccm-menu-item-active {

	> div.ccm-area-layout-control-bar {
		background: #0c6;
	}
}

div.ccm-block-edit-layout {
	min-height: 50px;
}

div.ccm-area-layout-control-bar-add {
	height: 0px;
}


div.ccm-area-layout-control-bar i {
	position: absolute;
	top: -2px;
	z-index: 10;
	left: -2px;
}