/** 
 * Bootstrap fixes: this makes it so BS3 can coexist with BS2 themes
 */

.ccm-ui {
	
	.btn {
		text-shadow: none;
		background-image: none;
		.box-shadow(none);
		background-position: none;
		.transition(none);
	}
}