/**
 * Highlighter
 */

div#ccm-highlighter {
	opacity: 0;
	z-index: 5;
	height: 0px;
	width: 0px;
	position: absolute;
	cursor: pointer;
}

/** 
 * Blocks
 */

div.ccm-block-edit {
	position: relative;
	opacity: 1;
	.clear_float();
}

div.ccm-block-edit.ccm-menu-item-active {
	outline: 2px solid #59ec59;
	outline-offset: 10px;
	.border-radius(10px);
}


/** 
 * Areas
  */


div.ccm-area-footer, div.ccm-sub-area-footer {
	opacity: 0; 
}

div.ccm-area[data-total-blocks="0"] {
	
	div.ccm-area-footer {
		opacity: 1;
	}
	
	div.ccm-area-footer-handle {

		span {
			opacity: 0;
		}

		border: 1px solid #e7e7e7;
		.border-radius(2px);
		padding: 15px 20px;
		color: #0c6;
	}
}

/** 
 * Hovering over areas
 */
div.ccm-menu-item-active {
	div.ccm-area-footer-handle {
		span {
			opacity: 1 !important;
		}
	}
}







/** 
 * In page menus
 */
#ccm-popover-menu-container div.popover ul.dropdown-menu { 

	position: static; 
	display: block;
	margin: 0px !important;
	float: none !important;
	padding: 0px;
	border: 0px;
	-webkit-box-shadow: none !important;
	-moz-box-shadow: none !important;
	box-shadow: none !important;

	li:last-child a {
		.border-bottom-radius(4px);
	}

	li:first-child a {
		.border-top-radius(4px);
	}

	li {

	display: block !important;
	

	a {
		text-decoration: none !important;
		padding: 3px 12px !important;
		color: #999;
	}
	a:hover {
		color: #000;	
		background-image: none !important;
		background-color: transparent !important;
	}



	font-family: @font-family-base !important;
	font-size: @font-size-base !important;
	line-height: @line-height-base !important;
	
	}

	.divider {margin: 9px 1px !important;}
}

.ccm-ui div.popover ul.dropdown-menu a:hover {
  color: @dropdown-link-color !important;
  text-decoration: none !important;
 }