div.ccm-panel {
	width: 320px;
	height: 100%;
	position: fixed;
	top: 0px;
	z-index: 105;
}

div#ccm-panel-overlay {
	z-index: 103;
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	display: none;
	background: transparent;
	.transition(background-color 0.5s cubic-bezier(0.190, 1.000, 0.220, 1.000));
}

div#ccm-panel-overlay.ccm-panel-translucent {
	background-color: rgba(255,255,255,0.7);
}


html.ccm-panel-ready.ccm-panel-left {
	body {
		overflow: hidden;
	}
	div.ccm-page {
		-webkit-transform: translate3d(320px, 0, 0);
	}
}

html.ccm-panel-ready.ccm-panel-right {
	body {
		overflow: hidden;
	}
	div.ccm-page {
		-webkit-transform: translate3d(-320px, 0, 0);
	}
}

html.ccm-panel-ready {

	div.ccm-page {
		backface-visibility: hidden;
		-webkit-backface-visibility: hidden;
		-webkit-transform: translate3d(0, 0, 0);
		.transition(-webkit-transform 0.5s cubic-bezier(0.190, 1.000, 0.220, 1.000));
	}

}

div.ccm-panel-left {
	left: 0px;
	-webkit-transform: translate3d(-100%, 0, 0);
	.transition(-webkit-transform 0.5s cubic-bezier(0.190, 1.000, 0.220, 1.000));
}

div.ccm-panel-right {
	right: 0px;
	-webkit-transform: translate3d(100%, 0, 0);
	.transition(-webkit-transform 0.5s cubic-bezier(0.190, 1.000, 0.220, 1.000));
}

div.ccm-panel-left.ccm-panel-active {
	-webkit-transform: translate3d(0, 0, 0);
}

div.ccm-panel-right.ccm-panel-active {
	-webkit-transform: translate3d(0, 0, 0);
}

/** 
 * Shadow layer
 */

div.ccm-panel-right div.ccm-panel-shadow-layer {
	width: 20px;
	height: 100%;
	position: absolute;
	top: 0px;
	z-index: 106;
	.box-shadow(inset 10px 10px 10px rgba(128,128,128,0.3));
}

div.ccm-panel-left div.ccm-panel-shadow-layer {
	width: 20px;
	height: 100%;
	position: absolute;
	top: 0px;
	right: 0px;
	z-index: 106;
	.box-shadow(inset -10px 10px 10px rgba(128,128,128,0.3));
}

/**
 * Panel Content
 */
div.ccm-panel-content {
	padding: 60px 20px 20px 20px;
}

div.ccm-panel div.ccm-panel-content {}

div.ccm-panel.ccm-panel-loaded div.ccm-panel-content {}

div.ccm-panel-content {
	header {
		margin: -13px -20px -20px -20px;
		font-size: 16px;
		padding: 15px 15px 15px 40px;
		margin-bottom: 10px;
		font-weight: 500;

		aside {
			float: right;
			font-size: 11px;
			font-weight: lighter;
			margin-top: 4px;

			a {text-decoration: none;}
		}
	}

	menu {
		li {
			
			margin-top: 10px;
			list-style-type: none;

			a {
				display: block; 
				text-decoration: none;
				font-size: 14px;
				font-weight: 500;
				padding: 5px 21px 5px 21px;
			}

			a:hover {
				text-decoration: none;
				.border-radius(4px);
			}
		}

	}
}
/** 
 * Dashboard Panel
 */
div#ccm-panel-dashboard {
	background-color: #cfd4da;

	header {
		color: #1b2d3e;
		background-color: #babec4;

		aside a {
			color: #7a838e;
		}
	}

	menu {
		li {
			a {
				color: #4674a1;
			}

			a:hover {
				background-color: #e0e3e7;
				color: #1b2d3e;
			}
		}
	}
}

/** 
 * New Page
 */
div#ccm-panel-sitemap {
	background-color: #eff7fd;


}

/** 
 * Properties
 */
div#ccm-panel-page {
	background-color: #2a2c30;

	header {
		color: #3baaf7;
		background-color: #202226;

		aside a {
			color: #565759;
		}
	}

	menu {
		li {
			a {
				color: #737c8e;
			}

			a:hover {
				background-color: #222427;
				color: #dce5f7;
			}
		}
	}

	div.ccm-panel-shadow-layer {
		.box-shadow(inset -10px 10px 10px rgba(20,20,20,0.3));
	}



}

/** 
 * Panel main detail areas
 */
div.ccm-panel-detail {
	z-index: 103;
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	display: none;
	.box-sizing(border-box);
	background: transparent;
}

html.ccm-panel-left div.ccm-panel-detail {
	padding-left: 360px;
	padding-right: 40px;
}

html.ccm-panel-right div.ccm-panel-detail {
	padding-right: 321px;
}

/** 
 * Panel Detail Content
 */
div.ccm-panel-detail {
	margin: 48px 0px 0px 0px;
	padding: 40px 40px 40px 95px;

	header {
		font-size: 22px;
		margin: -40px -40px 30px -95px;
		padding: 34px 80px 34px 95px;
		font-weight: 600;
	}
}



/** 
 * Panel Detail - Properties
 */
div#ccm-panel-detail-page-properties {
	background-color: #f3fbff;

	header {
		background-color: #e1f4ff;
		color: #105192;
	}
}

/** 
 * Panel swap
 */
div.ccm-panel-detail.ccm-transition-swap {
	backface-visibility: hidden;
	-webkit-backface-visibility: hidden;
	display: block;
	transform: rotateY(180deg);
	-webkit-transform: rotateY(180deg);
}

div.ccm-panel-detail.ccm-transition-swap.ccm-transition-swap-start {
	transform: rotateY(0deg);
	-webkit-transform: rotateY(0deg);
	-webkit-transition-duration: 0.5s;
	transition-duration: 0.5s;
	transition-easing: none;
	-webkit-transition-easing: none;
}


/** 
 * Miscellaneous effects classes 
 * First we have to push the item with positioning
 * because it's going to lose its position once the new effect takes place.
 */

html.ccm-panel-left div.ccm-page.ccm-transition-swap {
	position: relative;
	left: 320px;
}

html.ccm-panel-right div.ccm-page.ccm-transition-swap {
	position: relative;
	right: 320px;
}

html.ccm-panel-ready div.ccm-page.ccm-transition-swap {
	transition-duration: 0s;
	-webkit-transition-duration: 0s;
	transform: none;
	-webkit-transform: none;
}

html.ccm-panel-ready div.ccm-page.ccm-transition-swap.ccm-transition-swap-start {
	transform: rotateY(180deg);
	-webkit-transform: rotateY(180deg);
	-webkit-transition-duration: 0.5s;
	transition-duration: 0.5s;
	transition-easing: none;
	-webkit-transition-easing: none;
}

