div.ccm-block-type-form div.control-group {
	margin-bottom: 10px;
}

div.ccm-block-type-form span.muted {
	opacity: .50;
}

div.ccm-block-type-form div.control-group label.control-label {
	font-weight: bold;
}

div.ccm-block-type-form div.alert-success {
	border: 1px solid #05A000;
	background-color: #B5ECB4;
	padding: 8px;
	margin-bottom: 8px;
}

div.ccm-block-type-form div.alert-error {
	border: 1px solid #f00;
	background-color: #E4B5B5;
	padding: 8px;
	margin-bottom: 8px;
}