// Top Navigation Bar
$top-navbar-bg: #f3f3f3 !default;

// Colors - custom for theme
$light-accent: #9BA5B0 !default;
$accent: #F14A20 !default;
$dark-accent: #014357 !default;

// Hero Image
$hero-image-title-color: #fff;
$hero-image-title-font-size: 6.5rem;

// Stripes/Containers
$stripe-padding-y: 3em;

// Footer
$theme-footer-bg: #f3f3f3 !default;
$theme-footer-color: #6B7075 !default;
$theme-footer-link-color: #6B7075 !default;

// Hero Image Cover Overlay
$hero-image-cover-bg: rgba(0, 0, 0, 0.4) !default;
