@import url(//fonts.googleapis.com/css?family=Montserrat:500);
@import url(//fonts.googleapis.com/css?family=Bebas+Neue:400);
@import url(//fonts.googleapis.com/css?family=Raleway:800);

// Colors - Base Bootstrap
$primary: #2D7AC0;
$secondary: #676D6F;
$success: #04AF7A;
$danger: #A32C0D;
$warning: #F0B720;
$info: #20BFF0;
$light: #F3F3F3;
$dark: #373A3B;

$gray-500: #979797;

/* Alternate typography?!? from the Sketch file ?!?
$primary: #057EA3;
$secondary: #696968;
$success: #0E966B;
$danger: #AD092F;
$warning: #FFC107;
$info: #057EA3; // it's the same as primary I guess ?!?
$light: #ffffff;
$dark: #343A40;
*/

// Headings
$display-font-family: "Bebas Neue";
$display-font-weight: 400;
$headings-font-family: "Raleway";
$headings-font-size: 800;
$display-line-height: 1em;

// Links
$link-color: $primary;
$link-decoration: none;

// Modify theme colors sass map
$custom-colors: (
  "light-accent": $light-accent,
  "accent": $accent,
  "dark-accent": $dark-accent
);

