/*! http://responsiveslides.com v1.54 by @viljamis */

.ccm-image-slider {
  position: relative;
}

.ccm-image-slider-text {
  clear: both;
  padding-top: 1rem;
}

.ccm-image-slider-title {
  margin-bottom: 1rem;
}

.rslides {
  margin: 0 auto;
}

a.mega-link-overlay {
  height: 100%;
  left: 0;
  position: absolute;
  width: 100%;
  z-index: 20;
}
