a.ccm-block-page-list-rss-feed {
  position: absolute;
  top: 0;
  right: 0;
}

div.ccm-block-page-list-wrapper {
  position: relative;
}

div.ccm-block-page-list-page-entry-horizontal {
  display: table;
  width: 100%;
}

div.ccm-block-page-list-page-entry-horizontal,
div.ccm-block-page-list-page-entry {
  margin-bottom: 10px;
}

div.ccm-block-page-list-page-entry-horizontal div.ccm-block-page-list-page-entry-thumbnail {
  display: table-cell;
  vertical-align: top;
  width: 1px;
}

div.ccm-block-page-list-page-entry-horizontal div.ccm-block-page-list-page-entry-thumbnail img {
  width: 120px;
  max-width: none;
}

div.ccm-block-page-list-page-entry-horizontal div.ccm-block-page-list-page-entry-text {
  display: table-cell;
  padding-left: 20px;
  vertical-align: top;
}

div.ccm-block-page-list-page-entry-text div.ccm-block-page-list-title {
  font-weight: bold;
}

div.ccm-block-page-list-page-entry-read-more {
  margin-top: 20px;
}

.ccm-block-rss-displayer-item {
  margin-bottom: 16px;
}

.ccm-block-rss-displayer-item-title {
  font-weight: bold;
}

.ccm-block-rss-displayer-item-date {
  color: #999;
}

ul.ccm-block-date-navigation-dates {
  list-style-type: none;
  padding-left: 0px;
  padding-bottom: 0px;
}

.ccm-block-date-navigation-date-selected {
  font-weight: bold;
}

.ccm-responsive-overlay {
  display: none;
}