div.theme-atomik {
  div.ccm-block-feature-stacked {

    text-align: center;

    > i {
      font-size: 4rem;
      margin-bottom: 1.5rem;
    }

    @include media-breakpoint-down(md) {
      > i {
        margin-bottom: 3rem;
      }
      > h1, h2, h3, h4, h5, h6 {
        margin-bottom: 3rem;
      }
      > p {
        margin-bottom: 3rem;
      }
    }
  }
}

