div.col-sidebar {
  div.ccm-block-date-navigation {
    margin: 25px 40px 25px 40px;
    font-size: .85em;
  }
}

ul.ccm-block-date-navigation-dates {
  li {
    margin-bottom: ($line-height-base / 2) + 0em; // matches bootstrap paragraph height
    padding-bottom: 0px;
  }
}
