div.ccm-block-page-list-thumbnail-grid-wrapper {

  @include make-row();

  div.ccm-block-page-list-page-entry-grid-item {
    @include make-col-ready();
    @include make-col(4);
    margin-bottom: $grid-gutter-width;
    overflow: hidden;

    @include media-breakpoint-up(sm) {
      min-height: 147px;
      img {
        width: 100%;
        height: 147px;
      }
    }

    @include media-breakpoint-up(md) {
      min-height: 193px;
      img {
        width: 100%;
        height: 193px;
      }
    }

    @include media-breakpoint-up(lg) {
      min-height: 240px;
      img {
        width: 100%;
        height: 240px;
      }
    }

  }

  // hover effects
  div.ccm-block-page-list-page-entry-grid-thumbnail-hover {
    background-color: rgba(red($thumbnail-hover), green($thumbnail-hover), blue($thumbnail-hover), 0.7);
  }

  // icon
  i.ccm-block-page-list-page-entry-grid-thumbnail-icon {
    display: block;
    margin: 0px auto 10px auto;
  }

  i.ccm-block-page-list-page-entry-grid-thumbnail-icon:before {
    font-family: 'Font Awesome 5 Free';
    content: "\f053";
    font-weight: 900;
  }

  // home page version with page title.
  div.ccm-block-page-list-title {
    margin-top: 1em;
    @extend h4;
  }
}

div.ccm-block-page-list-page-entry-grid-thumbnail-hover {
  opacity: 0;
  -webkit-transition: opacity 0.2s;
  -moz-transition: opacity 0.2s;
  -ms-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
  transition: opacity 0.2s;
}

div.ccm-block-page-list-page-entry-grid-thumbnail a {
  position: relative;
  display: table;
}

div.ccm-block-page-list-page-entry-grid-thumbnail-hover {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.7);
  z-index: 2;
}

div.ccm-block-page-list-page-entry-grid-thumbnail a:hover
div.ccm-block-page-list-page-entry-grid-thumbnail-hover {
  opacity: 1;
}

div.ccm-block-page-list-page-entry-grid-thumbnail-title-wrapper {
  display: table;
  width: 100%;
  height: 100%;
}

div.ccm-block-page-list-page-entry-grid-thumbnail-title {
  display: table-cell;
  width: 100%;
  text-align: center;
  height: 100%;
  vertical-align: middle;
  text-align: center;
  color: #fff;
}

div.ccm-block-page-list-page-entry-grid-thumbnail-title i {
  display: none;
}

