#ccm-panel-add-blocktypes-list {
  padding-left: 0;
  padding-right: 0;

  header {
    padding-bottom: 7px;
    padding-left: 0;

    &[data-bs-toggle] {
      cursor: pointer;
    }
  }

  .ccm-panel-add-block-set>header {
    border-top: 2px solid $panel-background-color-accent;
  }

  .ccm-panel-add-block-set+.ccm-panel-add-block-set>header {
    border-top-width: 1px;
  }

  ul {
    list-style: none;
    margin-bottom: 0;
    padding: 0;

    &.ccm-flex-align-last-row::after {
      content: '';
      width: 75px;
    }

    li {
      float: left;
      // margin: 0 25px 15px 0;
      margin-bottom: 15px;
      position: relative;

      &:nth-of-type(3n) {
        margin-right: 0;
      }
    }
  }

  .ccm-marketplace-btn-wrapper {
    margin-top: 28px;
  }
}

a.ccm-panel-add-block-draggable-block-type,
a.ccm-panel-add-container-item {
  color: $dark;
  display: block;
  overflow: hidden;
  padding: 4px;
  text-align: center;
  text-decoration: none;
  transition: $btn-transition;
  width: 75px;

  &:not(.ccm-block-edit-drag):hover,
  &:not(.ccm-block-edit-drag):active {
    background-color: $blue;
    color: $gray-100;
    text-decoration: none;
  }

  p {
    font-size: 0.75rem;
    line-height: 1.25;
    margin-bottom: 7px;
  }

  .ccm-block-icon-wrapper {
    background-color: $panel-background-color-accent;
    display: block;
    height: 67px;
    margin-bottom: 7px;

    >img {
      height: auto;
      max-width: 21px;
    }
  }

  &.ccm-block-edit-drag {
    background-color: $gray-600;
    color: $gray-100;
    text-decoration: none;
  }

  &.ccm-block-edit-drag.ccm-block-edit-dragging .ccm-block-icon-wrapper {
    height: 82px;
  }
}

#ccm-panel-add-blocktypes-list.ccm-stacked-list {
  header {
    padding-bottom: 7px;
  }

  .ccm-block-set {
    margin: 10px 0;
  }

  ul {
    li {
      display: block;
      float: none;
      margin: 0 0 10px;
      width: 100%;
    }
  }
}

#ccm-panel-add-blocktypes-list.ccm-stacked-list a,
a.ccm-panel-add-block-draggable-block-type.ccm-stacked-list {
  align-items: center;
  display: flex;
  padding: 2px;
  text-align: left;
  width: 100%;

  p {
    font-size: 0.785rem;
    line-height: 1.25;
    margin-bottom: 0;
  }

  .ccm-block-icon-wrapper {
    display: block;
    height: 32px;
    margin: 0 10px 0 0;
    width: 32px;

    >img {
      max-height: 80%;
      max-width: 65%;
    }
  }

}
