/* asset library */

table#ccm-file-list {width: 100%; border-left: 1px solid #ffffff}
table#ccm-file-list th, table#ccm-file-list td {padding: 4px 8px 4px 8px; font-size: 14px}
table#ccm-file-list tr th {font-size: 14px; background-color: #efefef}
table#ccm-file-list tr td {text-align: center;}
table#ccm-file-list tr th a {color: #333}
table#ccm-file-list tr:hover td {cursor: pointer; background-color: #F1FCFF}

td.ccm-file-list-thumbnail img {border: 2px solid #dedede}
td.ccm-file-list-thumbnail img.ccm-generic-thumbnail {border: 0px}

.incoming_file_importer {margin: 10px auto 10px auto; height: 300px;}
.incoming_file_importer .height {height: 200px}
.incoming_file_importer .borderflow {border: 1px solid #DEDEDE; overflow-y: scroll}
.incoming_file_importer .incoming_file {margin: 10px 0px 10px 0px; float: left; text-align: center}
.incoming_file_importer .leftside {width: 15%;}
.incoming_file_importer .center {width: 70%; text-align:left}
.incoming_file_importer .rightside {width: 15%; text-align:left}
.incoming_file_importer .clear {clear:both}
