div#ccm-dialog-content1{padding:0;}div#ccm-dialog-content1 div.ui-dialog-titlebar{border-bottom:0;}
div.table{height:100%;width:100%;}
div.table>div{display:inline-block;height:100%;float:left;}
div.Editor{width:75%;overflow-x:hidden;}
div.controls{width:25%;background:white;position:relative;box-shadow:-5px 0px 25px -5px #000000;overflow-x:hidden;}div.controls div.controlset h4{padding:20px 40px 20px;margin:0;background:white;border-bottom:solid 1px #ddd;color:#ddd;}div.controls div.controlset h4.active{color:#333;}
div.controls div.controlset div.control{padding:20px;background:#f5f5f5;box-shadow:0 12px 20px -15px #000000 inset,0 -7px 20px -15px #000000 inset;}
