div.theme-atomik {
  .ccm-block-testimonial-circle {

    text-align: center;
    margin-bottom: 3rem;

    .ccm-block-testimonial-circle-avatar {
      img {
        max-width: 90px;
        max-height: 90px;
        border-radius: 45px;
      }
    }

    .ccm-block-testimonial-circle-text {
      padding: 1rem;
    }

    .ccm-block-testimonial-position {
      font-style: normal;
      color: $primary;
      @extend .h6;
    }
  }
}
