@import url(//fonts.googleapis.com/css?family=Poppins:400,600);
@import url(//fonts.googleapis.com/css?family=Oswald:500);
@import url(//fonts.googleapis.com/css?family=Inter:800);

// This is a dark mode theme. These will turn this theme into a dark theme
$body-emphasis-color: #fff;
$body-bg: #212529;
$body-color: #dee2e6;
$body-secondary-bg: #343a40;
$body-secondary-color: rgba($body-color, .75);
$body-tertiary-bg: #2e3236;
$body-tertiary-color: rgba($body-color, .5);

// Colors - Base Bootstrap
$success: #66BB6A; // Soft emerald green
$danger: #E53935; // Darkened crimson
$warning: #FDD835; // Golden amber
$info: #6A4FCB; // Deep purple-blue
$dark: #12122A; // Almost black
$gray-500: #6B7280; // Cool muted gray

// Display Headings
$display-font-family: "Oswald" !default;
$display-font-weight: 500 !default;
$display-line-height: 1.1em;
$display-font-sizes: (
        1: 4rem,
        2: 3.5rem,
        3: 3rem,
        4: 2rem
);

// Regular Headings
$headings-font-family: "Inter" !default;
$headings-font-weight: 800 !default;

// Links
$link-color: $primary;
$link-decoration: none;

// Doc Library
$theme-document-library-icon-filter: invert(1);