div.area-content-accent {
  background-color: $theme-accent-bg;

  margin-top: 80px;
  padding: 65px 0px 65px 0px;
  
  .title-caps, .title-caps-bold, h3 {
    color: $theme-accent-color !important;
  }
  
}
