#ccm-panel-detail-page-seo {
  .form-group {
    position: relative;

    .form-text {
      font-size: 90%;
      font-style: italic;
      position: absolute;
      right: 0;
      top: 5px;
    }
  }
}
