@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";

// Top Navigation Bar
$navbar-nav-link-padding-x: 1.25rem;
$dropdown-padding-y: 0;
$dropdown-border-radius: 0;
$dropdown-inner-border-radius: 0;
$dropdown-item-padding-y: 0.5rem;
