// Top Navigation Bar
$top-navbar-bg: #FFF3E0 !default; // Soft peach

// Colors - custom for theme
$primary: #ce390b !default; // Burnt orange
$secondary: #5E548E !default; // Deep twilight purple
$light: #FFF3E0 !default; // Sunset glow
$light-accent: #C7B9A3 !default; // Warm beige
$accent: #bd4d00 !default; // Fiery amber
$dark-accent: #6A3E8E !default; // Deep plum

// Body Font
$font-family-base: "Nunito" !default;

// Hero Image
$hero-image-title-color: #ffffff !default;
$hero-image-title-font-size: 6.5rem !default;
$hero-image-cover-bg: rgba(216, 67, 21, 0.4) !default;

// Image Slider
$image-slider-cover-bg: rgba(94, 84, 142, 0.85) !default; // Muted purple overlay
$image-slider-arrow-bg: rgb(255, 255, 255) !default;
$image-slider-cover-color: rgb(255, 255, 255) !default;

// Stripes/Containers
$stripe-padding-y: 3em;

// Footer
$theme-footer-bg: #FFF3E0 !default;
$theme-footer-color: #5E548E !default;
$theme-footer-link-color: #D84315 !default;
