// Bootstrap makes you give blockquotes a specific class to get the styling. We don't need
// that level of fussiness
blockquote {
  @extend .blockquote;
  border-left-width: $blockquote-border-width;
  border-left-style: $blockquote-border-style;
  border-left-color: $blockquote-border-color;
  padding-left: $spacer;
  font-weight: 100;
  
}

.title-thin {
  font-family: $font-family-headings;
  color: $green;
  font-size: $font-size-base * 2;
  font-weight: 300;
  display: block
}
