// feature block

div.ccm-block-feature-item-hover-wrapper {
  text-align: center;

  div.ccm-block-feature-item-hover-title {
    color: lighten($body-color, 10%);
    font-size: 1.5em;
    font-weight: 300;
    margin-top: 20px;
  }

}

div.ccm-block-feature-item-hover {

  display: table;
  margin: 0px auto 0px auto;


  div.ccm-block-feature-item-hover-icon {
    border: 1px solid lighten($body-color, 40%);
    border-radius: 50%;
    text-align: center;
    vertical-align: middle;
    display: table-cell;
    margin: 0px auto 0px auto;

    transition: all 0.2s linear;
    cursor: help;
    i {
      margin-top: 3px;
    }

    width: 200px;
    height: 200px;

    @include media-breakpoint-up(sm) {
      width: 80px;
      height: 80px;
    }


    @include media-breakpoint-up(md) {
      width: 110px;
      height: 110px;
    }

    @include media-breakpoint-up(lg) {
      width: 134px;
      height: 134px;
    }
  }

}

div.ccm-block-feature-item-hover-wrapper:hover {
  div.ccm-block-feature-item-hover-icon {
    background: lighten(theme-color('secondary'), 40%);
    border: 1px solid lighten(theme-color('secondary'), 30%);
  }
}
