div.ccm-block-page-title-byline {

  padding-bottom: 40px;
  border-bottom: 1px solid $border-color;
  margin-bottom: 40px;

  h1.page-title {
    font-size: $h1-font-size;
    font-family: $headings-font-family;
    color: theme-color('primary');
    font-weight: bold;
    margin-bottom: 0px;
    padding-bottom: 0px;
    padding-top: 1em;
  }

  span.page-date {
    margin-right: 2em;
  }

  span.page-date, span.page-author {
    font-style: italic;
    font-size: 0.85em;
  }
}
