div.controlset.rotate > div.control button.hflip > i {
	background-position:0 0;
	background-image:url('/concrete/images/image_editor/horizontal_flip_icon.png');
}
div.controlset.rotate > div.control button.vflip > i {
	background-position:0 0;
	background-image:url('/concrete/images/image_editor/vertical_flip_icon.png');
}
div.controlset.rotate > div.control div.angle > div.slider {
	width:75%;
	display:inline-block;
}
div.controlset.rotate > div.control div.anglelabel {
	margin-top:20px;
	color:#666;
}
div.controlset.rotate > div.control div.angle > input {
	width:10%;
	margin-left:15px;
}