img {
  left: 0;
  max-width: inherit;
  min-width: inherit;
  top: 0;
}

.shadow {
  box-shadow: 0 0 10px black;
  box-sizing: border-box;
  left: 1px;
  opacity: 0.3;
  outline: solid 1px #333;
  position: absolute;
  top: 1px;
  z-index: 1;
}
