#attributeValuesWrap {margin-top:4px; width: 100%}
#attributeValuesWrap .akSelectValueWrap{ margin-bottom:2px; border:1px solid #eee; padding:15px 20px;}
#attributeValuesWrap .akSelectValueWrap:hover{border:1px solid #ddd; }
#attributeValuesWrap .akSelectValueWrap .leftCol{float:left; width: 75%; }
#attributeValuesWrap .akSelectValueWrap .rightCol{float:right; text-align:right; width: 25%; }
#attributeValuesWrap .akSelectValueWrap .rightCol .btn {margin-bottom: 10px; }

#addAttributeValueWrap{ margin-top:8px }
#addAttributeValueWrap input.faint{ color:#999 }
#addAttributeValueWrap a{cursor:pointer}
#attributeValuesWrap .ccm-spacer { clear: both; height: 0px; }
#allowOtherValuesWrap{margin-top:16px}


.akSelectValueWrapSortable:hover {cursor: move}