#ccm-panel-detail-page-composer {
  fieldset {
    border-bottom: 1px solid $hr-border-color;
    padding-bottom: 35px;
  }

  fieldset:last-child {
    border-bottom: 0;
    padding-bottom: 0;
  }

}
