ul.ccm-search-block-tag-cloud {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ul.ccm-search-block-tag-cloud li {
    margin: 0;
    padding: 0;
    zoom: 1;
    display: inline-block;
    margin-right: 8px;
    margin-bottom: 8px;
    color: #ccc;
    font-size: 10px;
}

ul.ccm-search-block-tag-cloud li a {
    padding: 4px;
    background-color: #f6f6f6;
    display: inline-block;
    text-decoration: none;
    vertical-align: middle;
    border: 1px solid #aaa;
       -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
            border-radius: 4px;
}

ul.ccm-search-block-tag-cloud li a:hover {
    background-color: #e8e8e8;
    color: #333;
}

ul.ccm-search-block-tag-cloud li {
    float: left;
    margin-right: 20px;
    white-space: nowrap;
    padding: 0;
    margin-left: 0;
}

ul.ccm-search-block-tag-cloud li {
    float: left;
    margin-right: 20px;
    white-space: nowrap;
    padding: 0;
    margin-left: 0;
}