/* stylelint-disable selector-class-pattern */
.ccm-page-user-directory {

  .ccm-page-user-directory-entry {

    padding: 1rem;
    display: flex;
    align-items: center;

    .ccm-page-user-directory-avatar {
      border-radius: 50%;
      max-width: 80px;
      margin-right: 2rem;
    }
  }


}
