// Colors
$logo-color: #75ca2a !default;
$primary: #75ca2a !default;
$secondary: #0099ff !default;

// Typography
$h1-font-family: 'Helvetica' !default;
$h1-color: #1a1a1a !default;
$h1-font-size: 2.1em !default;
$h1-font-weight: 700 !default;

$h2-font-family: 'Helvetica' !default;
$h2-color: #1a1a1a !default;
$h2-font-size: 1.46em !default;
$h2-font-weight: 700 !default;

$h3-font-family: 'Helvetica' !default;
$h3-color: #75ca2a !default;
$h3-font-size: 1.25em !default;
$h3-font-weight: 700 !default;

$h4-font-family: 'Helvetica' !default;
$h4-color: #4f585c !default;
$h4-font-size: 1.05em !default;
$h4-font-weight: 700 !default;

$h5-font-family: 'Helvetica' !default;
$h5-color: #9fa9ad !default;
$h5-font-size: 0.73em !default;
$h5-font-weight: 700 !default;
$h5-text-transform: uppercase !default;

$h6-font-family: 'Helvetica' !default;
$h6-color: #a3db75 !default;
$h6-font-size: 0.73em !default;
$h6-font-weight: 400 !default;
$h6-text-transform: uppercase !default;


// Logo
$logo-font-family: 'Titillium Web' !default;
$logo-font-size: 2.2em !default;
$logo-font-weight: normal !default;
$logo-font-style: normal !default;
$logo-text-decoration: none !default;
$logo-text-transform: none !default;

// Image Slider
$image-slider-background-image: none !default;
$image-slider-title-color: #75ca2a !default;
$image-slider-title-font-family: 'Titillium Web' !default;
$image-slider-title-font-size: 3.2em !default;
$image-slider-title-font-weight: 200 !default;
$image-slider-paragraph-color: #6e6e6e !default;
$image-slider-paragraph-font-size: 1.1em !default;
$image-slider-paragraph-font-weight: 400 !default;

// Misc
$thumbnail-hover: #0099ff;
$theme-accent-bg: #f8faf1;
$theme-accent-color: #988e47;
