$logo-color: #75ca2a !default;
$primary: #75ca2a !default;
$secondary: #0099ff !default;
$logo-font-family: 'Titillium Web' !default;
$logo-font-size: 2.2em !default;
$logo-font-weight: normal !default;
$logo-font-style: normal !default;
$logo-text-decoration: none !default;
$logo-text-transform: none !default;

$image-slider-background-image: none;
