/* These are variables that are unique to the skin but are NOT customizable */

@import url(//fonts.googleapis.com/css?family=Titillium+Web:200,400,700,900);

$logo-bar-background-color: #fff; // not just named "header" because it also occurs near the bottom of the page
$body-bg: #fff;

$font-family-base: 'Helvetica' !default;
$body-color: #6e6e6e;

$header-navigation-type-color: #0099ff;
$header-navigation-type-font-size: 1.0em;
$header-navigation-type-font-weight: 700;
$header-navigation-type-font-family: 'Titillium Web';
$header-navigation-type-text-transform: none;
$header-navigation-hover-color: #abddff;

$font-family-headings: 'Titillium Web';

// Top Header Search
$header-search-input-icon-color: #cbcbcb;
$header-search-input-border-color: #cbcbcb;
$header-search-input-background-color: #ffffff;

// Home Features
$home-feature-title-color: #1a1a1a;
$home-feature-icon-color: #1a1a1a;