div.ccm-ui {
  .modal-header {
    background-color: $blue;
    color: $modal-title-color;
    font-weight: 400;

    .modal-title {
      font-size: $modal-title-font-size;
      font-weight: $modal-title-font-weight;
      letter-spacing: $modal-title-letter-spacing;
    }

    button {
      color: white;

      opacity: 1;
      transition: color 0.1s ease-in-out;

      &:not(:disabled):not(.disabled) {
        @include hover-focus() {
          color: $gray-600;
          opacity: 1;

          svg {
            fill: $gray-600;
          }

        }
      }

      svg {
        fill: white;
        height: 24px;
        transition: fill 0.1s ease-in-out;
        width: 24px;
      }

    }


  }
}
