div.ccm-ui {
  h1 {
    font-weight: bold;
  }

  h2 {
    font-weight: bold;
  }

  h3 {
    font-weight: 300;
  }

  h4 {
    font-weight: 700;
  }

  h5 {
    font-weight: 600;
  }

  h6 {
    font-weight: normal;
    text-transform: uppercase;
  }
}
