div.ccm-block-testimonial {
  @include make-row();
  div.ccm-block-testimonial-image {
    @include make-col-ready();
    @include make-col(3);
  }

  div.ccm-block-testimonial-text {
    @include make-col-ready();
    @include make-col(9);
  }

  img {
    @extend .img-fluid;
    border-radius: 50%;
  }

  div.ccm-block-testimonial-name {
    font-size: $h4-font-size;
    font-family: $headings-font-family;
    font-weight: bold;
    color: $primary;
  }

  div.ccm-block-testimonial-position {
    color: $link-color;
    a {
      text-decoration: underline;
    }
  }

  div.ccm-block-testimonial-paragraph {
    margin-top: $line-height-base;
  }
}

div.ccm-block-testimonial-wrapper {
  @include clearfix();
  margin-top: 60px;
  margin-bottom: 60px;
}

@include media-breakpoint-up(sm) {
  .ccm-block-testimonial-image {
    img {
      margin: 10px auto;
    }
  }
}
