@import "shared-variables";

@import "@concretecms/bedrock/assets/bedrock/scss/frontend";

// Feature support - comes outside div.ccm-page
@import "features/basics/basics";
@import "features/calendar/calendar";
@import "features/conversations/conversations";
@import "features/faq/faq";
@import "features/imagery/imagery";
@import "features/navigation/navigation";
@import "features/search/search";
@import "features/testimonials/testimonials";
@import "features/taxonomy/taxonomy";

div.ccm-page {

  @import "header";
  @import "type";
  @import "buttons";
  @import "pagination";
  @import "search";
  @import "footer";

  // Misc content styling
  @import "custom-design-classes/area-content-accent";
  @import "custom-design-classes/block-sidebar-padded";
  @import "custom-design-classes/block-sidebar-wrapped";
  @import "custom-design-classes/title-caps-bold";
  @import "custom-design-classes/title-caps";
  @import "custom-design-classes/image-caption";

}

