footer#footer-theme {

  margin-top: $hr-margin-y;
  
  div.ccm-block-social-links {
    text-align: right;
    ul {
      a {
        color: $bullet-color;
        &:hover {
          color: darken($bullet-color, 30%);
        }
      }
    }
  }

  section {
    border-top: 1px solid $border-color;
    padding-top: $header-footer-padding;
    padding-bottom: $header-footer-padding;
  }

  section:first-child {
    background-color: $logo-bar-background-color;
  }

  section:last-child {
    padding-bottom: $header-footer-padding;
  }

  #footer-site-title {

    transition: color 0.2s linear;
    font-size: $font-size-base;
    font-family: $logo-font-family;
    color: $logo-color;

    &:hover {
      color: darken($logo-color, 10%);
      text-decoration: none !important;
    }
  }
}

footer#concrete5-brand {
  background-color: rgba(0,0,0,0.1);
  padding-top: 20px;
  padding-bottom: 20px;

  a.concrete5 {
    color: #00baff;

    &:hover {
      color: #008dc0;
    }
  }

  a {
    color: #9fa7aa;

    &:hover {
      color: #7B8083;
    }
  }

}

