@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";

// ---- Map our theme customizer variables to the bootstrap variables
$theme-colors: (
  'primary': $color-primary,
  'secondary': $color-secondary,
);

$link-color: theme-color('secondary');


// ---- Theme variables
$primary-margin-y: 100px;
$header-footer-padding: 30px;
$font-family-footer-site-title: 'Titillium Web';
$font-family-headings: 'Titillium Web';

// hr
$hr-margin-y: $primary-margin-y;
$hr-border-color: $gray-300;

// buttons
$btn-border-radius: 20px;
$btn-padding-x: 30px;
$btn-padding-y: 10px;
$btn-success-background-color: #0c6;
$btn-success-border-color: #4cae4c;

// colors
$border-color: $gray-300;
$bullet-color: $gray-300;
$theme-accent-bg: #f8faf1;
$theme-accent-color: #988e47;
$caption-color: $gray-300;

// block quote
$blockquote-border-width: 4px;
$blockquote-border-style: solid;
$blockquote-border-color: $gray-300;

// blocks
// image slider
$image-slider-bg: '/concrete/themes/elemental/images/background-slider-default.png';
