// Bootstrap makes you give blockquotes a specific class to get the styling. We don't need
// that level of fussiness
blockquote {
  @extend .blockquote;
  border-left-width: $blockquote-border-width;
  border-left-style: $blockquote-border-style;
  border-left-color: $blockquote-border-color;
  padding-left: $spacer;
  font-weight: 100;

}

.title-thin {
  font-family: $font-family-headings;
  color: $h1-color;
  font-size: $font-size-base * 2;
  font-weight: 300;
  display: block
}

h1 {@include make-heading($h1-font-family, $h1-font-size, $h1-font-weight, $h1-color);}
h2 {@include make-heading($h2-font-family, $h2-font-size, $h2-font-weight, $h2-color);}
h3 {@include make-heading($h3-font-family, $h3-font-size, $h3-font-weight, $h3-color);}
h4 {@include make-heading($h4-font-family, $h4-font-size, $h4-font-weight, $h4-color);}
h5 {@include make-heading($h5-font-family, $h5-font-size, $h5-font-weight, $h5-color, $h5-text-transform);}
h6 {@include make-heading($h6-font-family, $h6-font-size, $h6-font-weight, $h6-color, $h6-text-transform);}
