/*-----------------------------------------------------------------------------

Template: sustainable

Design by: www.LetsEat.at -- Free Websites for Restaurants and Cafés!

This template is made available to the public under Creative Commmons Attribution 3.0 Unported:

http://creativecommons.org/licenses/by/3.0/

Please leave the link back to our site intact at the bottom of your site.

Feel free to redistribute the template as long as you leave the link intact.

It is also available as a Wordpress theme:
http://wordpress.org/extend/themes/sustainable

Thanks!

-----------------------------------------------------------------------------*/

* {
  padding:0;
  margin:0;
  list-style:none;
}

html {
  background:#c2e7ed url(../images/bg.gif) repeat-x;
}

body {
  width:960px;
  margin:0 auto;
  font:62.5% 'Trebuchet MS', Helvetica, Arial, sans-serif;
}

h1, h2, h3, h4, h5 {
  font-size:1.6em;
  color:#4f647b;
}

#masthead {
  padding-top:25px;
  padding-bottom:5px;
}

h1 {
  font-size:4.8em;
  margin-left:30px;
  margin-right:5px;
  color:#7b684f;
  display:inline;
}

h1 a {
  color:#7b684f;
  text-decoration:none;
}

#masthead p {
  font-weight:bold;
  display:inline;
  font-size:1.4em;
}

p, li {
  color:#4f647b;
}

a {
  color:#4f647b;
}

div#content {
  background:#FFF url(../images/content_top.gif) no-repeat;
  padding:30px 30px 0px;
}

/*-----------------------------------------------------------------------------

  Main Content

-----------------------------------------------------------------------------*/

#main_content {
  width:620px;
  float:left;
}

#main_content h2 {
  color:#ff9600;
  font-size:3em;
  margin-bottom:10px;
}

#main_content h2 a {
  color:#ff9600;
  text-decoration:none;
}

#main_content p {
  font-size:1.4em;
  line-height:2em;
  margin:10px 0;
}

.body {
  margin-bottom:30px;
}

.body blockquote {
  padding-left:10px;
  margin:15px 10px;
  border-left:5px solid #FFD396;
}

.body ul, .article ol {
  margin:10px;
}

.body ul li {
  font-size:1.4em;
  margin:5px 0 5px 10px;
  list-style:square;
}

.body ul li li, .article ol li li {
  font-size:1em;
  list-style:circle;
}

.body ol li {
  font-size:1.4em;
  margin:5px 0 5px 20px;
  list-style:decimal;
}

#main_content p.byline {
  font-size:1.2em;
}

ul.body_footer {
  background:#e4edf8;
  text-align:left;
  padding:15px 15px 15px 10px;
  margin:20px 0 0;
}

ul.body_footer li {
  display:inline;
  margin:0 10px 0 0;
  padding-right:10px;
  border-right:1px solid #CCC;
}

ul.body_footer li.last {
  border-right:0;
}

/*-----------------------------------------------------------------------------

  Secondary Content

-----------------------------------------------------------------------------*/

#secondary_content {
  width:280px;
  float:left;  
  margin-bottom:30px;
}

#secondary_content p {
  font-size:1.2em;
  line-height:1.75em;
  margin-bottom:10px;
  font-style:italic;
}

#secondary_content h2 {
  font-size:1.6em;
  margin-bottom:8px;
}

#nav ul {
  margin-left:19px;
}

#nav li {
  display:inline; /* Prevents weird line-break issue with IE6 */
}

#nav li a {
	display:block;
	background:#e4edf8 url(../images/dots.gif) bottom repeat-x;
	text-decoration:none;
	font-size:1.6em;
	font-weight:bold;
	border-left:11px solid #FFF;
	padding-right: 15px;
	padding-bottom: 10px;
	padding-left: 15px;
	padding-top: 10px;
	cursor: crosshair;
}

#nav li.nav-selected a {
  background:#d4e1f2 url(../images/arrow.gif) 0 center no-repeat;
  border-left:0;
  padding-left:26px;
}

#nav li.nav-selected a:hover {
  background:#d4e1f2 url(../images/arrow.gif) 0 center no-repeat;
  border-left:0;
  padding-left:26px;
}

#nav li a:hover {
  background:#DCE8F8 url(../images/dots.gif) bottom repeat-x;
}

#search {
  background:#f1f1f1;
  padding:15px;
  margin-left:30px;
}

#secondary_nav {
  background:#e3e3e3;
  padding:15px;
  margin-left:30px;
}

#secondary_nav h2 a {
  text-decoration:none;
}

#secondary_nav ul {
  margin:8px 0 20px;
  border-left:5px solid #EEE;
  padding-left:10px;
  font-size:1.2em;
}

#secondary_nav ul ul {
  font-size:1em;
  border-left:5px solid #F8F8F8;
  margin:0;
}

#secondary_nav li {
  margin:5px 0;
}

#secondary_nav li a {
  text-decoration:none;
}

#secondary_nav li a:hover {
  color:#1B3E63;
}

/*-----------------------------------------------------------------------------

  Footer

-----------------------------------------------------------------------------*/

ul#footer {
  clear:both;
  width:960px;
  height:9px;
  background:url(../images/content_bottom.gif) top no-repeat;
  text-align:center;
  padding:20px 0;
}

ul#footer li {
  display:inline;
  margin-right:10px;
}

ul#footer li a {
  text-decoration:none;
  font-weight:bold;
}

ul#footer li a:hover {
  text-decoration:underline;
}

/*-----------------------------------------------------------------------------

  Clearfix

-----------------------------------------------------------------------------*/

.clearfix:after {
  content:".";
  display:block;
  height:0;
  clear:both;
  visibility:hidden;
}
.clearfix {display:inline-block;}
/* Hide from IE Mac \*/
  .clearfix {display:block;}
/* End hide from IE Mac */
