div.theme-atomik {
  div.ccm-block-page-title-byline {
    div.ccm-block-page-title-byline-byline {
      display: flex;
      font-size: $font-size-sm;
      align-items: center;
      color: $secondary;
    }

    div.ccm-block-page-title-byline-byline-avatar {
      margin-right: 0.75rem;
      img {
        max-width: 32px;
        height: auto;
        border-radius: 50% !important;
      }
    }

    div.ccm-block-page-title-byline-byline-author {
      margin-right: 0.75rem;
    }
  }

}

