<?xml version="1.0"?>
<concrete5-cif version="1.0">
	<config>
		<SITE_DEBUG_LEVEL>1</SITE_DEBUG_LEVEL>
		<ENABLE_LOG_EMAILS>1</ENABLE_LOG_EMAILS>
		<ENABLE_LOG_ERRORS>1</ENABLE_LOG_ERRORS>
		<FULL_PAGE_CACHE_GLOBAL>0</FULL_PAGE_CACHE_GLOBAL>
		<ENABLE_MARKETPLACE_SUPPORT>1</ENABLE_MARKETPLACE_SUPPORT>
		<ANTISPAM_LOG_SPAM>1</ANTISPAM_LOG_SPAM>
		<ENABLE_BLOCK_CACHE>1</ENABLE_BLOCK_CACHE>
		<ENABLE_OVERRIDE_CACHE>1</ENABLE_OVERRIDE_CACHE>
	</config>
</concrete5-cif>
