<?xml version="1.0"?>
<concrete5-cif version="1.0">
	<config>
		<SITE_DEBUG_LEVEL>1</SITE_DEBUG_LEVEL>
		<ENABLE_LOG_EMAILS>1</ENABLE_LOG_EMAILS>
		<ENABLE_LOG_ERRORS>1</ENABLE_LOG_ERRORS>
		<FULL_PAGE_CACHE_GLOBAL>0</FULL_PAGE_CACHE_GLOBAL>
		<ENABLE_MARKETPLACE_SUPPORT>1</ENABLE_MARKETPLACE_SUPPORT>
		<ANTISPAM_LOG_SPAM>1</ANTISPAM_LOG_SPAM>
		<ENABLE_BLOCK_CACHE>1</ENABLE_BLOCK_CACHE>
		<CONVERSATIONS_MAX_FILE_SIZE_GUEST>3</CONVERSATIONS_MAX_FILE_SIZE_GUEST>
		<CONVERSATIONS_MAX_FILE_SIZE_REGISTERED>10</CONVERSATIONS_MAX_FILE_SIZE_REGISTERED>
		<CONVERSATIONS_MAX_FILES_GUEST>3</CONVERSATIONS_MAX_FILES_GUEST>
		<CONVERSATIONS_MAX_FILES_REGISTERED>6</CONVERSATIONS_MAX_FILES_REGISTERED>
		<CONVERSATIONS_ALLOWED_FILE_TYPES>.jpg;*.png;*.gif</CONVERSATIONS_ALLOWED_FILE_TYPES>
	</config>

	<!-- Default Banned Words, these are run through Rot13 -->
	<banned_words>
		<banned_word>shpx</banned_word><!-- Fu** -->
		<banned_word>fuvg</banned_word><!-- Sh** -->
		<banned_word>ovgpu</banned_word> <!-- Bi*** -->
		<banned_word>nff</banned_word> <!-- A** -->
	</banned_words>

	<!-- Conversation Flag Types -->
	<flag_types>
		<flag_type>spam</flag_type>
	</flag_types>
</concrete5-cif>
