@import url(//fonts.googleapis.com/css?family=Montserrat:500);
@import url(//fonts.googleapis.com/css?family=Bebas+Neue:400);
@import url(//fonts.googleapis.com/css?family=Raleway:800);

// Colors - Base Bootstrap
$success: #04AF7A;
$danger: #A32C0D;
$warning: #F0B720;
$info: #20BFF0;
$dark: #373A3B;
$gray-500: #979797;

// Display Headings
$display-font-family: "Bebas Neue" !default;
$display-font-weight: 400 !default;
$display-line-height: 1em;
$display-font-sizes: (
        1: 4rem,
        2: 3.5rem,
        3: 3rem,
        4: 2rem
);

// Regular Headings
$headings-font-family: "Raleway" !default;
$headings-font-weight: 800 !default;

// Links
$link-color: $primary;
$link-decoration: none;