.theme-atomik {
  div.ccm-summary-template-blog-entry-thumbnail {
    img {
      margin-bottom: 2rem;
    }

    h5 {
      text-align: center;
      a {
        color: inherit;
        text-decoration: none;
      }
    }
  }
}
