@charset "UTF-8";
/* gradients and shadows */
/* colors */
/* typography */
/* borders */
/* buttons */
/* forms */
/* cards */
/* transitions */
/* dialogs */
/* breadcrumbs */
/* tabs */
/* badges */
/* Dropdowns */
/* 10px @ 16px base */
/* These variable names don't quite match up to their value */
/* Usage: padding: $dropdown-item-padding-y $dropdown-item-padding-x; */
/* popovers - these are used for in page menus, help menus */
/* Links */
/* panels */
/* colors */
/* headings */
/* special dialog variables */
/* additional tab colors */
/* selectize */
/* file manager image cell */
/** --- Zindexes --- **/
/* Base page */
/* Dashboard form actions wrapper */
/* Menus In Page */
/* Checkboxes and stars in search results above menus */
/* Inline Editing in Page */
/* Inline Editing with Editable Fields */
/* Dropdown Menus */
/* Status Bar (below toolbar and panels) */
/* Page alert (blue boxes) –similar to dashboard help but at the page level. Should come below the dialog overlay and the intelligent search */
/* Panels */
/* this is the overlay over the main content. must come below the panel z-index */
/* Draggables */
/* Main toolbar */
/* Disable Toolbar (over toolbar) */
/* dashboard privacy policy */
/* Inline Editing Toolbar - has to come above disabled toolbar */
/* Main toolbar - has to come above dashboard help notifications because of stupid webkit compositing */
/* Intelligent Search */
/* Dialogs */
/* Editor dropdown –can be either inline OR in a dialog box so we have to come above dialog. Hopefully this doesn't
cause other problems */
/* Dialog Content */
/* Search Checkboxes */
/* Dialog Chrome */
/* Tooltips and hovers in dialogs */
/* tooltips that live on the same plane as menus */
/* Edit Response HUDs - should come above modal dialog stuff. */
/* Dashboard panels */
/* Sitemap Icons */
/* Help Tours */
/* Form Group */
/* stylelint-disable selector-class-pattern */
.cke_toolgroup a.cke_button__concrete_save {
  background-color: #337ab7;
  background-image: linear-gradient(to bottom, #337ab7, #336fad);
  text-shadow: none;
}
.cke_toolgroup a.cke_button__concrete_save:hover {
  background: #286090 !important;
  background-image: linear-gradient(to bottom, #336fad, #315f9b) !important;
}
.cke_toolgroup .cke_button__concrete_save .cke_button__concrete_save_label,
.cke_toolgroup .cke_button__concrete_cancel .cke_button__concrete_cancel_label {
  display: inline-block;
  padding-left: 4px;
  padding-right: 4px;
}
.cke_toolgroup .cke_button__concrete_save .cke_button__concrete_save_label {
  color: #fff;
  text-shadow: none;
}
.cke_toolgroup .cke_button__concrete_save .cke_button__concrete_save_icon,
.cke_toolgroup .cke_button__concrete_cancel .cke_button__concrete_cancel_icon {
  display: none;
}

.cke_editable::before,
.cke_editable::after {
  content: "";
  display: table;
}

.cke_editable::after {
  clear: both;
}

/* stylelint-disable */
.cke_panel {
  z-index: 2500 !important;
}