div.theme-atomik {
  a.ccm-block-document-library-advanced-search::after {
    border-color: $primary transparent transparent ;
  }
  a.ccm-block-document-library-add-files::after {
    border-color: $white transparent transparent;
  }

  a.ccm-block-document-library-advanced-search-open::after {
    border-color: transparent transparent $primary;
  }
  a.ccm-block-document-library-add-files-open::after {
    border-color: transparent transparent $white;
  }
}