img.img-right-tilted {
    display: block;
    margin: 0px auto 0px auto;
    transform:rotate(3deg);
    -moz-transform: rotate(3deg);
    -ms-transform:rotate(3deg); /* IE 9 */
    -webkit-transform:rotate(3deg); /* Opera, Chrome, and Safari */
}