div.ccm-multilingual-switch-language-flags {display: inline;}
div.ccm-multilingual-switch-language-flags-label {float: left; margin-right: 8px}
div.ccm-multilingual-switch-language-flags a {padding: 2px; float: left;}
