# These values will be used by the script bash/change-passwords.sh
# All varaiable mus be present in .starter.env
# All varaibles must have a value set
PHPMYADMIN_SUPERUSER_PW=
PHPMYADMIN_CONTROLUSER_PW=