div.theme-atomik {
  div.ccm-block-feature-link {

    div.ccm-block-feature-link-text {
      font-size: 1.25rem;

      p {
        color: $secondary;
      }
    }


    h1 {
      font-family: $display-font-family;
      @extend .display-1;
    }

    h2 {
      font-family: $display-font-family;
      @extend .display-2;
    }

    h3 {
      font-family: $display-font-family;
      @extend .display-3;
    }

    h4 {
      font-family: $display-font-family;
      @extend .display-4;
    }

    h5 {
      font-family: $display-font-family;
      @extend .display-5;
    }

    h6 {
      font-family: $display-font-family;
      @extend .display-6;
    }


  }

  // Handle image blocks butting up right next to feature link blocks
  picture + .ccm-block-feature-link {
    margin-top: 2rem;
  }

}

