div.theme-atomik {

  h1.ccm-block-page-title {
    font-family: $display-font-family;
    @extend .display-1;
  }

  h2.ccm-block-page-title {
    font-family: $display-font-family;
    @extend .display-2;
  }

  h3.ccm-block-page-title {
    font-family: $display-font-family;
    @extend .display-3;
  }

  h4.ccm-block-page-title {
    font-family: $display-font-family;
    @extend .display-4;
  }

  h5.ccm-block-page-title {
    font-family: $display-font-family;
    @extend .display-5;
  }

  h6.ccm-block-page-title {
    font-family: $display-font-family;
    @extend .display-6;
  }

}

