ul.ccm-search-block-tag-cloud {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

ul.ccm-search-block-tag-cloud li {
  color: #ccc;
  display: inline-block;
  font-size: 10px;
  margin: 0;
  margin-bottom: 8px;
  margin-right: 8px;
  padding: 0;
  zoom: 1;
}

ul.ccm-search-block-tag-cloud li a {
  background-color: #f6f6f6;
  border: 1px solid #aaa;
  border-radius: 4px;
  display: inline-block;
  padding: 4px;
  text-decoration: none;
  vertical-align: middle;
}

ul.ccm-search-block-tag-cloud li a:hover {
  background-color: #e8e8e8;
  color: #333;
}

ul.ccm-search-block-tag-cloud li {
  float: left;
  margin-left: 0;
  margin-right: 20px;
  padding: 0;
  white-space: nowrap;
}

ul.ccm-search-block-tag-cloud li {
  float: left;
  margin-left: 0;
  margin-right: 20px;
  padding: 0;
  white-space: nowrap;
}
