div.controlset.controlset-position div.lock-button {
    padding-top: 65px;
}
div.controlset.controlset-position div.scale-container {
    padding-top: 12px;
}
div.controlset.controlset-position span.scale-percent {
    line-height: 8px;
}
