div.ccm-ui {
  .modal-header {
    background-color: $blue;

    .modal-title {
      color: $modal-title-color;
      font-size: $modal-title-font-size;
      font-weight: $modal-title-font-weight;
      letter-spacing: $modal-title-letter-spacing;
    }


  }
}
