.body-page-login {
  background-color: #94959a;
}

.login-page {
  background-color: $blue;
  box-shadow: $modal-content-box-shadow-sm-up;
  margin: auto;
  margin-bottom: 18px;
  max-width: 800px;

  .login-page-header {
    padding: 40px 0;
  }

  h2.login-page-title {
    color: #fff;
    font-size: $modal-title-font-size;
    font-weight: $modal-title-font-weight;
    letter-spacing: $modal-title-letter-spacing;
    margin-bottom: 0;
    text-align: center;
  }

  .login-page-content {
    background-color: #fff;
    padding: 9px;
    @include media-breakpoint-up(xl) {
      padding: 36px;
    }

    &.attribute-mode {
      margin-bottom: 18px;
    }
  }

  .sign-up-container {
    a {
      display: block;
      @include media-breakpoint-up(xl) {
        display: inline-block;
      }
    }
  }

  .form-check-remember-me {
    color: $text-muted;
    font-style: italic;
  }

  .ccm-concrete-authentication-type-svg {
    display: inline-block;
  }

  ul.login-page-auth-types-list {
    li {
      padding-left: 0;
    }
  }

}
