div.ccm-ui {
  .nav {
    &.nav-sidebar {
      @include border-radius($list-group-border-radius);

      .nav-item {
        border: $list-group-border-width solid $list-group-border-color;

        &:first-child {
          @include border-top-radius(inherit);
        }

        &:last-child {
          @include border-bottom-radius(inherit);
        }

        + .nav-item {
          border-top-width: 0;
        }

        a {
          &:hover {
            background-color: $gray-100;
          }

          &.active {
            position: relative;

            &::before {
              background-color: $blue;
              bottom: 0;
              content: '';
              left: 0;
              position: absolute;
              top: 0;
              width: 2px;
            }
          }
        }
      }
    }
  }
}
