#ccm-popover-menu-container .popover,
.ccm-edit-mode-block-menu.popover {
  position: absolute;
  z-index: 2001;

  .popover-arrow {
    display: none;
  }

  &.bs-popover-top,
  &.bs-popover-bottom {
    .popover-arrow {
      left: 50%;
      margin-left: -0.5rem;
    }
  }

  &.bs-popover-left,
  &.bs-popover-right {
    .popover-arrow {
      margin-top: -0.5rem;
      top: 50%;
    }
  }

  .bootstrap-select {
    z-index: 2001;
  }
}
